@media (max-height: 703px) {
  #modal-cart .modal-content {
    height: 600px; }
  #modal-cart .modal-body {
    height: 369px; } }

@media (max-width: 962px) {
  #modal-lk {
    bottom: 50px; }
  .modal-lk-wrap {
    width: 100%;
    margin: 0; }
  .recipe__image-wrap {
    display: none; }
  .expanded-recipe {
    max-width: 597px;
    padding-left: 0; } }

@media (max-width: 767px) {
  .sticky-bot-menu_user.active:after {
    top: 0px;
    left: -3px;
    background: url("../img/icon-user-border-mobile.png") no-repeat;
    width: 51px;
    height: 53px; }
  #modal-lk {
    bottom: auto;
    top: 40px; }
  #modal-lk .modal-content {
    border-bottom: none;
    border-top: 4px solid #ff8f25;
    max-height: 100vh; }
  #modal-lk .modal-body--spec {
    max-height: 100vh; }
  .main-lk__img {
    width: 130px; }
  .main-lk {
    padding-top: 51px; }
  .main-lk__heading {
    font-size: 29px;
    margin-bottom: 14px;
    text-align: center; }
  .main-lk__havepassword {
    padding-left: 40px;
    padding-right: 40px; }
  .main-lk__getpass {
    padding-left: 20px;
    padding-right: 20px; }
  .main-lk__email {
    width: 306px; }
  .main-lk__pw {
    width: 306px; }
  .lk-tabs__tabs {
    justify-content: flex-start; }
  .lk-tabs__tabs > li > a {
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px; }
  .modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data > a:hover:after {
    background: url("../img/decorative-hover-orange-mobile.png") no-repeat;
    top: 7px;
    left: -17px;
    width: 195px;
    height: 42px; }
  .modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data.active > a:after {
    background: url("../img/decorative-hover-orange-mobile.png") no-repeat;
    top: 7px;
    left: -17px;
    width: 195px;
    height: 42px; }
  .modal-lk .lk-tabs__tabs .lk-tabs__tab-balls > a:hover:after {
    background: url("../img/decorative-hover-green-mobile.png") no-repeat;
    top: 8px;
    left: -4px;
    width: 195px;
    height: 42px; }
  .modal-lk .lk-tabs__tabs .lk-tabs__tab-balls.active > a:after {
    background: url("../img/decorative-hover-green-mobile.png") no-repeat;
    top: 8px;
    left: -4px;
    width: 195px;
    height: 42px; }
  .modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes > a:hover:after {
    background: url("../img/decorative-hover-lgreen-mobile.png") no-repeat;
    top: 6px;
    left: -19px;
    width: 195px;
    height: 42px; }
  .modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes.active > a:after {
    background: url("../img/decorative-hover-lgreen-mobile.png") no-repeat;
    top: 6px;
    left: -19px;
    width: 195px;
    height: 42px; }
  .modal-lk .lk-tabs__tabs .lk-tabs__tab-history > a:hover:after {
    background: url("../img/decorative-hover-purple-mobile.png") no-repeat;
    top: 5px;
    left: -1px;
    width: 195px;
    height: 42px; }
  .modal-lk .lk-tabs__tabs .lk-tabs__tab-history.active > a:after {
    background: url("../img/decorative-hover-purple-mobile.png") no-repeat;
    top: 5px;
    left: -1px;
    width: 195px;
    height: 42px; }
  .lk-personal-data__col-info {
    padding-right: 0;
    width: 100%; }
  .lk-personal-data__col-pw {
    padding-left: 0;
    width: 100%; }
  .lk-personal-data__wrap--small {
    width: 100%; }
  .lk-personal-data__f-wrap {
    flex-direction: column; }
  .lk-personal-data__label {
    padding-top: 15px; }
  .main-text__heading {
    font-size: 24px;
    letter-spacing: 2.5px; }
  .main-text__heading:after {
    display: none; }
  .main-text__descr {
    font-size: 14px; }
  .modal-lk-wrap .close {
    top: 0; }
  .lk-balls__how-btn {
    width: 100%;
    margin-bottom: 12px; }
  .lk-balls__bonus-btn {
    width: 100%;
    padding-left: 17px;
    padding-right: 0px;
    background: url("../img/icon-plus-white.png") no-repeat 10px 11px; }
  .lk-balls {
    padding-top: 139px; }
  .lk-balls__btns-wrap {
    bottom: 26px;
    padding-left: 0;
    padding-right: 0; }
  .popup-promo-code {
    z-index: 4;
    top: 0;
    margin-top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .popup-promo-code__col1 {
    width: 100%;
    text-align: center;
    margin-bottom: 23px; }
  .popup-promo-code__col2 {
    width: 100%; }
  .popup-promo-code__img {
    width: 112px; }
  .popup-promo-code__text {
    margin-bottom: 22px; }
  .popup-promo-code__copy {
    float: none;
    display: block;
    margin: 0 auto; }
  .recipe__image-wrap {
    display: inline-block;
    margin-right: 10px; }
  .recipe__socials {
    display: none; }
  .recipe__close {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 21px;
    width: 21px;
    padding: 0; }
  .recipe {
    flex-direction: column;
    overflow-x: hidden; }
  .recipe__wrap {
    width: 100%;
    justify-content: flex-start;
    position: relative; }
  .recipe__expand {
    width: 140px;
    text-align: center; }
  .recipe__expand:after {
    left: 10px;
    top: 2px; }
  .recipe__expand.collapsed:after {
    left: 6px;
    top: 4px; }
  .recipe__name {
    font-size: 17px;
    letter-spacing: 0.6px;
    margin-bottom: 10px; }
  .recipe__time {
    padding-left: 20px; }
  .recipe__time:after {
    left: -1px;
    width: 17px;
    height: 17px;
    background-size: 100%; }
  .expanded-recipe__pic {
    width: 100%; }
  .tell-friends__icon {
    width: 35px; }
  .tell-friends__soc:not(:last-of-type) {
    margin-right: 6px; }
  .tell-friends {
    padding-top: 0; }
  .booking {
    max-width: 150px;
    padding-bottom: 6px; }
  .booking__photos {
    max-height: 146px;
    margin-bottom: 6px; }
  .booking__photo {
    height: 50%; }
  .booking__date {
    font-size: 12px;
    padding-left: 5px; }
  .booking__count {
    font-size: 10px;
    line-height: 9px;
    margin-bottom: 7px; }
  .booking__total {
    padding-left: 6px;
    font-size: 17px; }
  .booking__refresh-img {
    width: 30px; }
  .booking__refresh-text {
    font-size: 12px; }
  .booking__refresh {
    margin-top: -23px; } }
