@font-face {
	font-family: MyriadPro-Light;
	src: url(../fonts/Myriad-Pro-Light_31642.ttf) format('truetype');
}
@font-face {
	font-family: MyriadPro;
	src: url(../fonts/MyriadPro-Regular.otf) format('truetype');
}
select {
	-webkit-appearance: none;
	/*webkit browsers */
	-moz-appearance: none;
	/*Firefox */
	appearance: none;
	/* modern browsers */
	border-radius: 0;
}
button,a,input,select{
	outline: none;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

#GSCCModal .modal-dialog {
	width: 801px;
}

*:focus {
	outline: none;
}

a:focus {
	outline: none;
	outline-offset: none;
}

body{
	background-color: white;
	font-family: MyriadPro-Light;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: hidden;
}
html .main-body div.modal {
	overflow: hidden;
}

#GSCCModal .mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.ui-selectmenu-button.ui-button  {
	background-image: url(../img/icon-caret.png);
	background-position: 31px 7px;
	background-repeat: no-repeat;
	border-bottom-left-radius: 40px;
	border-color: #ddd;
	border-style: solid;
	border-top-left-radius: 40px;
	border-width: 1px;
	height: 21px;
	padding-left: 3px;
	width: 44px;
	font-size: 10px;
	background-size: 7px;
	background-color: #fff;
	font-family: MyriadPro-Light;
	padding: 0;
}
.ui-selectmenu-text {
	margin-right: 0;
	height: 21px;
	line-height: 21px;
	vertical-align: middle;
	padding-left: 5px;
}
.ui-selectmenu-menu {
	font-size: 14px;
}
.ui-icon {
	display: none;
}
.ui-button:active {
	color: #000;
}




/* .slider > button:before {
	content:'\0041';
	position: absolute;
	top: 0;
	right: 0;
	} */
	.our-choice .ui-selectmenu-button.ui-button  {
		height: 40px;
		line-height: 40px;
		width: 60px;
		background-position: 81px 16px
	}
	.our-choice .ui-selectmenu-text {
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		padding-left: 15px;
	}
	.our-choice .ui-icon {
		display: none;
	}



	.header__top{
		background: url(../img/bg.png) no-repeat;
		background-size: cover;
		text-align: center;
		padding-bottom: 52px;
		background-position: center;
	}

	.header__top .row{
		margin:0;
	}

	.header__top-logo{
		padding-top: 71px;
	}



	.header__top-descr {
		font-size: 48px;
		padding-top: 34px;
		letter-spacing: 0.65px;
	}
	.header__top-descr p span {
		font-family: MyriadPro;
		letter-spacing: 0.8px;
		margin: 0 2px;
	}

	.header__top-icons{
		padding-top: 36px;
	}


	.header__top-icons p{
		padding-top: 31px;
		line-height: 1.2;
		font-size: 18px;
		width: 73%;
		margin: 0 auto;
		letter-spacing: 0.5px;
	}

	.header__top-icons-block{
		height: 248px;
	}

	.header__top-faq {
		letter-spacing: 0.65px;
		padding-top: 0;
	}

	.header__top-faq a{
		text-transform: uppercase;
		color: #97a655;
		text-decoration: none;
		border-bottom: 1px dashed #97a655;
		font-size: 18px;
		padding-bottom: 1px;
	}

	.header__top-faq img{
		margin-right: 6px;
		vertical-align: bottom;
	}

	.header__bot{
		border-top: 1px solid #cccccc;
	}

	.header__bot-list{

		list-style-type: none;
		display: flex;
		justify-content: space-between;
		left: 26px;
		overflow: hidden;
		font-size: 18px;
		margin-bottom: 2px;
		align-items: center;
		padding-left: 0px;
		max-width: 910px;
		margin: 0 auto;
		position: relative;
	}

	.header__bot-list li a {
		display: inline-block;
		color: black;
		text-align: center;
		padding: 38px 25px;
		text-decoration: none;
	}

	.header__bot-list li {
		letter-spacing: normal;
		display: inline-block;
	}

	.header__bot-list li:hover {
		background: url('../img/hover.png') no-repeat;
		background-size: 100%;
		background-position: center;
	}

	.header__bot-list li:hover a{
		color:white;
	}

	.header__bot-list li:active {
		background: url('../img/hover.png') no-repeat;
		background-size: 100%;
		background-position: center;
	}

	.header__bot-list li:active a{
		color:white;
	}

	.header__bot-list li:focus {
		background: url('../img/hover.png') no-repeat;
		background-size: 100%;
		background-position: center;
	}

	.header__bot-list li:focus a{
		color:white;
	}

	.sticky-bot-menu{
		height: 50px;
		width: 400px;
		margin: 0 auto;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		display: flex;
	}
	.sticky-bot-menu_list{
		background: #a75714;
		display: inline-block;
		width: 50px;
		height: 50px;
	// position: absolute;
	text-align: center;
	line-height: 61px;
	font-size: 26px;
}

.sticky-bot-menu_list a{
	color:white;
}

.sticky-bot-menu_list img{
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin:auto;
}

.sticky-bot-menu_user{
	background: #e68e33;
	display: inline-block;
	width: 50px;
	height: 50px;
	// position: absolute;
	left: 50px;
	text-align: center;
	line-height: 57px;
	font-size: 22px;
}

.sticky-bot-menu_user a{
	color:white;
}

.sticky-bot-menu_user img{
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin:auto;
}

.sticky-bot-menu_store{
	background: #607f47;
	display: inline-block;
	width: 111px;
	height: 50px;
	// position: absolute;
	position: relative;
	// left: 100px;
	line-height: 57px;
	padding-left: 9px;
	display: flex;
}

.sticky-bot-menu_store span{
	font-size: 28px;
}

.sticky-bot-menu_store a{
	color:white;
}
.sticky-bot-menu_store p{
	color:white;
}

.sticky-bot-menu_store img{
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin:auto 0;
	margin-left: 10px;
}

.sticky-bot-menu_store-in {
	position: absolute;
	top: 0;
	left: 19px;
}

.sticky-bot-menu_store-out {
	position: absolute;
	top: 0;
	left: 46px;
}

.sticky-bot-menu_info{
	background: #97a655;
	display: inline-block;
	width: 47px;
	height: 50px;
	// position: absolute;
	left: 207px;
	text-align: center;
	line-height: 57px;
	font-size: 24px;
}

.sticky-bot-menu_info a{
	color:white;
}

.sticky-bot-menu_info img{
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin:auto;
}

.sticky-bot-menu_message{
	background: #dd7f70;
	display: inline-block;
	width: 50px;
	height: 50px;
	// position: absolute;
	left: 254px;
	text-align: center;
	line-height: 57px;
	font-size: 24px;

}

.sticky-bot-menu_message a{
	color: white;
}

.sticky-bot-menu_message img{
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin:auto;
}

.sticky-bot-menu_search{
	background: #b54f3f;
	display: inline-block;
	width: 50px;
	height: 50px;
	// position: absolute;
	left: 302px;
	text-align: center;
	line-height: 57px;
	font-size: 22px;
}

.sticky-bot-menu_search a{
	color: white;
}

.sticky-bot-menu_search img{
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin:auto;
}

.sticky-bot-menu_contact{
	background: #7d5979;
	display: inline-block;
	width: 50px;
	height: 50px;
	// position: absolute;
	left:350px;
	text-align: center;
	line-height: 57px;
	font-size: 31px;
}

.sticky-bot-menu_contact a{
	color: white;
}

.sticky-bot-menu_contact img{
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin:auto;
}

.block{
	padding-top: 10px;
	padding-bottom: 2px;
	text-align: center;
}

.block h2{
	font-size: 50px;
	letter-spacing: -2px;
}



.our-choice{
	background: url('../img/bg-choice.png');
	padding-top: 32px;
	padding-bottom: 45px;
}

.our-choice h2{
	color: white;
	font-size: 48px;
	letter-spacing: 0;
	margin-top: 0;
	margin-bottom: 14px;
}
.multiple-items .single-item .slick-dots {
	bottom: 8px;
}
.multiple-items .single-item .slick-dots li {
	margin: 0 1px;
}
.our-choice__descr{
	color: white;
	font-size: 18px;
	letter-spacing: 0.4px;
	line-height: 1.1;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-left: 30px;
	width: 55%;
}
.product-block__slider .slick-dots{

	bottom: 5px;

}

.product-block__slider .slick-dots li button::before {

	opacity: 1;
	color: white;
	font-size: 10px;

}

.product-block__slider .slick-dots li.slick-active button::before {
	opacity: 1;
	color: white;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1) !important;
}

.product-block__slider.slick-dotted.slick-slider {
	margin-bottom: 0px !important;
}

/*.product-block__slider{
	padding-top: 20px;
	}*/

	.product-block__descr a.product-block__descr-more .arrow__change {
		transition: all 0.3s;
	}
	.product-block__descr a.product-block__descr-more.open .arrow__change {
		transform: rotate(180deg);
	}
/*.product-block__descr a.product-block__descr-more.open {
	padding-bottom: 15px;
	}*/


	/* .multiple-items slider styles */
	.slider.multiple-items {
		margin-bottom: 0;
	}
	.multiple-items > .slick-dots {
		list-style: outside none none;
		margin: 0;
		padding: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: -34px;
	}
	.slider > button {
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		top: 50%;
		
		background-image: url(../img/slider-arrow.png);
		z-index: 100;
		opacity: 1;
	}
	.slider > button:hover, .slider > button:focus {
		background-image: url(../img/slider-arrow.png);
		background-size: 100%;
	}
	.slider > button.slick-prev {
		left: 0;
	}
	.slider > button.slick-next {
		right: 0;
	}
	.multiple-items .product-block__slider {
		margin-bottom: 0;
	}
	.multiple-items .product-block__descr {
		background: white;
		line-height: 1;
	}
	.multiple-items .product-block__descr .block__midpart {
		padding-top: 26px;
	}
	.multiple-items .product-block__descr .block__midpart .product-block__descr-title {
		font-size: 18px;
		text-align: left;
		margin: 0;
	}
	.multiple-items .product-block__descr .block__midpart .pull-right {
		text-align: right;
	}
	.multiple-items .product-block__descr .block__midpart .product-block__descr-more {
		padding-right: 10px;
		color: #b00d0d;
		font-size: 14px;
		text-decoration: none;
	}
	.multiple-items .product-block__descr .block__midpart .product-block__descr-more img {
		display: inline-block;
		margin-left: 5px;
		vertical-align: middle;
	}
	.multiple-items .block__botpart {
		padding-top: 15px;
	}
	.multiple-items .block__botpart .product-block__descr-town {
		text-align: left;
		font-size: 15px;
		color: #555;
		margin: 0;
	}
	.multiple-items .block__store {
		font-size: 0;
		padding-top: 12px;
		padding-bottom: 14px;
	}
	.multiple-items .block__store .product-block__price, .multiple-items .block__store select {
		display: inline-block;
		font-size: 14px;
		color: #555;
		font-family: MyriadPro;
		vertical-align: middle;
	}
	.multiple-items .block__store select {
		border-width: 1px;
		border-color: #ddd;
		border-style: solid;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		width: 86px;
		height: 41px;
		padding-left: 15px;
		background-image: url(../img/icon/icon-down-empty.svg);
		background-repeat: no-repeat;
		background-position: 56px 17px;
		background-size: 10px 9px;
	}
	.multiple-items .block__store .product-block__price {
		width: 173px;
		height: 41px;
		border-width: 1px;
		border-color: #ddd;
		border-style: solid;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
		border-left: none;
		line-height: 40px;
	}
	.multiple-items .block__store .product-block__price p {
		margin: 0;
		vertical-align: middle;
	}
	.multiple-items .block__store .product-block__price p span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}
	.multiple-items .block__store .product-block__price p span.price-icon {
		background-image: url(../img/icon/icon-basket.svg);
		width: 17px;
		height: 15px;
		margin-right: 7px;
	}
	.multiple-items .block__store .product-block__price p:hover span.price-icon {
		background-image: url(../img/icon-basket-hover.png);
	}
	.block__store .product-block__price p:hover {
		color:#b00d0d;
	}
	.multiple-items .slick-dots li button::before {

		opacity: 1;
		color: white;
		font-size: 10px;

	}

	.multiple-items .slick-dots li.slick-active button::before {
		opacity: 1;
		color: white;
		text-shadow: 0px 0px 4px rgba(255, 0, 0, 1);
	}
	.product-block__slider img{
		width:100%;
	}


	/* block__set css styles */
	.block__set {
		padding-top: 15px;
		padding-bottom: 115px;
	}
	.block__set h2 {
		font-size: 55px;
		letter-spacing: 0;
		margin-top: 0;
		margin-bottom: 5px;
	}
	.block__set .block__set-title-desc {
		font-size: 18px;
		margin: 0 auto;
		width: 53%;
		letter-spacing: 0px;
		margin-bottom: 40px;
		line-height: 1.15;
	}
	.block__set .block__blog-tab {
		font-size: 24px;
		color: black;
		text-align: center;
		margin: 0;
		padding: 0;
		letter-spacing: 95px;
		margin-bottom: 30px;
	}
	.block__set .block__blog-tab li:hover {
		color: #b00d0d;
	}

	.block__set .block__blog-tab li {
		text-decoration: none;
		color: black;
		padding: 0 40px 2px;
		display: inline-block;
		cursor: pointer;
		margin: 0;
		letter-spacing: normal;
	}
	.block__fruit .block__midpart {
		padding-top: 15px;
		position: relative;
		background-color: white;
	}
	.block__fruit .block__midpart .more-link {
		text-align: right;
	}
	.block__fruit .block__midpart .more-link a {
		color: #b00d0d;
		font-size: 14px;
		text-decoration: none;
	}
	.block__fruit .block__midpart .more-link a span + img {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}
	.block__fruit .product-block__descr-title {
		font-size: 18px;
		font-weight: 600;
		color: black;
		text-align: left;
		min-height: 35px;
		line-height: 0.9;
		margin-bottom: 0;
	}
	.block__fruit .product-block__descr__full{
		height: 0;
		overflow: hidden;
		text-align: left;
		transition: all 0.5s;
		letter-spacing: 0.45px;
		line-height: 18px;
	}
	.block__fruit .block__midpart {
		margin-top: 0;
		transition: all 0.5s;
		margin-bottom: 4px;
	}
	.block__fruit .block__botpart .product-block__descr-town {
		font-size: 15px;
		text-align: left;
		margin-bottom: 0;
		min-height: 22px;
		min-height: 42px;
	}
	.block__fruit .block__botpart .block__store {
		padding-top: 7px;
		font-size: 0;
		text-align: center;
	}
	.block__fruit .block__botpart .product-block__instore{
		height: 40px;
		border: 2px solid #b00d0d;
		margin: 0 auto;
		border-radius: 40px;
		max-width: 260px;
		font-weight: 700;
		line-height: 48px;
		text-align: center;
		background:white;
	}
	.block__fruit .block__botpart .product-block__instore a {
		display: inline-block;
		line-height: 1;
		font-family: MyriadPro;
		color: #b00d0d;
		font-size: 16px;
		text-decoration: none;
		text-indent: 4px;
	}
	.block__fruit .block__botpart .product-block__instore a img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 7px;
	}
	.block__fruit .block__botpart .block__store .product-block__price, .block__fruit .block__botpart .block__store .product-block__number {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}
	.block__fruit .block__botpart .block__store .product-block__number {
		background-image: url(../img/icon/icon-down-empty.svg);
		background-repeat: no-repeat;
		background-position: 56px 17px;
		background-size: 10px 9px;
		border-bottom-left-radius: 40px;
		border-color: #ddd;
		border-style: solid;
		border-top-left-radius: 40px;
		border-width: 1px;
		height: 40px;
		padding-left: 15px;
		width: 86px;
	}
	.block__fruit .block__botpart .block__store .product-block__price {
		border-bottom-right-radius: 40px;
		border-color: #ddd;
		border-style: solid solid solid none;
		border-top-right-radius: 40px;
		border-width: 1px 1px 1px medium;
		height: 40px;
		line-height: 37px;
		max-width: 171px;
		background: white;
		min-width: 100px;
	}
	.block__fruit .block__store .product-block__price p span {
		display: inline-block;
		line-height: 1;
		vertical-align: middle;
		margin-right: 7px;
	}
	.block__fruit .block__store .product-block__price p span.price-icon {
		background-image: url("../img/icon-basket.png");
		height: 15px;
		margin-right: 7px;
		width: 17px;
	}
	.block__fruit .block__store .product-block__price p:hover span.price-icon {
		background-image: url(../img/icon-basket-hover.png);
	}
	.multiple2-items > ul.slick-dots {
		bottom: -80px;
	}
	.block__fruit .product-block__descr-town.chef__receipt {
		color: #555;
		font-size: 15px;
		text-decoration: none;
		text-align: left;
		width: 100%;
		display: block;
		transition: all 0.5s;
		position: relative;
	}
	.block__fruit .product-block__descr-town.chef__receipt img {
		vertical-align: bottom;
		display: inline-block;
		margin-right: 8px;
	}
	.block__fruit .product-block__descr-town.chef__receipt span {
		display: inline-block;
		vertical-align: bottom;
	}




	.block__blog{
		background: #fdfdfc;
	}
	.block__blog-padding{
		padding-bottom: 20px;
		padding-top: 22px;
	}
	.product-block__instore a{
		line-height: 40px;
		padding-top: 0;
	}

	.product-block__instore img{
		margin-top: -8px;
	}

	.product-block__descr-full{
		height: 300px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: justify;
		position: absolute;
		top: 33px;
		background: white;

	}

	.block__fruit-title-desc {
		font-size: 18px;
		margin: 0 auto;
		width: 55%;
		letter-spacing: 0px;
		padding-bottom: 30px;
	}
	.multiple2-items .slick-dots li button::before {

		opacity: 1;
		color: white;
		font-size: 10px;
		text-shadow: 0px 0px 2px rgb(0, 0, 0);

	}

	.multiple2-items .slick-dots li.slick-active button::before {
		opacity: 0.75;
		color: white;
		text-shadow: 0px 0px 4px rgba(255, 0, 0, 1);
	}

	.block_fruit-tab{
		background: #fdfdfc;
		padding: 20px;
		font-size: 24px;
		color: black;
		text-align: center;
		padding-bottom: 35px;
	}

	.block__fruit__slider-item .product-block__slider-img img{
		width:100%;
	}

/*.multiple2-items{
	max-height: 490px;
	}*/

	.block_fruit-tab a{
		text-decoration: none;
		color: black;
		padding: 10px 40px;
		margin: 0 39px;

	}

	.block__blog-tab li{
		text-decoration: none;
		color: black;
		padding: 10px 40px;
		margin: 0 39px;
		display: inline-block;
		cursor: pointer;
	}

	.active {
		border-bottom: 2px solid #b52e2e;
	}

	.enable{
		display: block !important;
	}
	.disable{
		display:none !important;
	}

	.block__fructs-list{
		background: #fdfdfc;
		border-top: 1px solid black;
		padding-top: 27px;
		border-bottom: 1px solid black;
		padding-bottom: 0px;
	}

	.block__fructs-expand{
		background: white;
		margin-top: 30px;
	}

	.block__fructs-expand-btn{
		border: 1px solid #dfdfdf;
		border-radius: 40px;
		color: #6e6e6e;
		cursor: pointer;
		font-size: 17px;
		height: 40px;
		left: 17px;
		letter-spacing: 2.4px;
		line-height: 37px;
		margin: 0px auto;
		background: white;
		max-width: 341px;
		position: relative;
		text-align: center;
		margin-bottom:21px;
		margin-top:25px;
	}

	.block__fructs-expand-btn:hover{
		border:2px solid #b00d0d;
		line-height: 35px;
	}

	.block__fructs-expand-btn span{
		color: #b00d0d;
		font-weight: 700;
	}
	.block__fructs-list .block__callback > h2 {
		margin-top: 12px;
		margin-bottom: 13px;
	}
	.block__fructs-list .block__blog h2 {
	}
	.block__callback-content-item{
		max-height: 390px;
	}

	.slider.variable-width .slick-prev {
		margin-top: 0;
	}
	.slider.variable-width .slick-next {
		
	}

	.variable-width .slick-prev {
		left: 0px;
	}

	.variable-width .slick-next {
		right: 0px;
	}

	.variable-width .slick-dots li button::before {

		opacity: 1;
		color: white;
		font-size: 10px;

	}

	.variable-width .slick-dots li.slick-active button::before {
		opacity: 1;
		color: white;
		text-shadow: 0px 0px 4px rgba(255, 0, 0, 1);
	}


	.variable-width2 .slick-prev {
		left: 0px;
	}

	.variable-width2 .slick-next {
		right: 0px;
	}

	.variable-width2 .slick-dots li button::before {

		opacity: 1;
		color: white;
		font-size: 10px;

	}

	.variable-width2 .slick-dots li.slick-active button::before {
		opacity: 1;
		color: white;
		text-shadow: 0px 0px 4px rgba(255, 0, 0, 1);
	}

	.footer{
		padding: 20px;
		border-top: 2px solid #6b9b2f;
		line-height: 1.2;
	}

	.footer__phone {
		color:#7b7b7b;
		font-size: 24px;
		font-weight: 700;
		cursor: pointer;
		text-decoration: none;
		text-align: left;
		padding-left: 61px;
		padding-top: 11px;

	}

	.footer__phone a{
		color:#7b7b7b;
		font-size: 24px;
		font-weight: 700;
		cursor: pointer;
		text-decoration: none;

	}

	.footer__useragreement{
		color:#6b9b2f;
		font-size: 14px;
		text-align: right;
		line-height: 30px;
		padding-right: 17px;
		letter-spacing: 0.1px;
	}

	.footer__copyright{
		line-height: 1.2;
		text-align: left;
		padding-left: 0;
		letter-spacing: 0.5px;
		padding-left: 17px;
	}

	.block__fructs-list .product-block__slider-img img{
		width:100%;
	}
	.footer__icons img{
		cursor:pointer;
	}

	.expand{

	}
	.expand-block{
		height: auto;
	}

	.right{
		float:right;
	}

	.tab_content:not(:nth-of-type(1)){
		display: none;
	}

	.block__blog-item{
		max-height: 580px;
	}

	.block_blog-small{
		height:290px;
		margin:1px;
		background: white;
		width:290px;
		position: relative;
		overflow: hidden;

	}

	.block_blog-big{
		height:580px;
		margin:1px;
		background: white;
		width:580px;
		position: relative;
		overflow: hidden;

	}

	.block_blog-long{
		height:290px;
		margin:1px;
		background: white;
		font-size: 0;
		position: relative;
		overflow: hidden;
		width: 584px;

	}

	.block_blog-small-title{
		font-size: 18px;
		font-weight: 600;
		padding: 13px 15px;
		text-align: left;
		line-height: 1;
	}

	.block_blog-small-date{
		color: #888888;
		text-align: left;
		padding: 0px 15px;
		padding-bottom: 22px;
		font-size: 15px;
		font-style: italic;
	}

	.block_blog-small-underline{
		border-top: 1px solid black;
		font-size: 0;
		text-align: left;
		position: absolute;
		width: 100%;
		bottom: 0;
		background: white;
	}

	.block_blog-small-underline-receipt {
		color: #b00d0d;
		font-size: 14px;
		display: inline-block;
		width: 50%;
		text-align: left;
		padding-left: 15px;
		line-height: 29px;
	}

	.slick-slide .block_blog-small-underline-receipt img, .slick-slide .block_blog-small-underline-add img{
		display: inline-block;
		margin-right: 10px;
	}

	.block_blog-small-underline-receipt *, .block_blog-small-underline-add * {
		vertical-align: middle;
	}



	.block_blog-small-underline-add{

		font-size: 14px;
		display: inline-block;
		width: 50%;
		text-align: right;
		padding-right: 15px;
		cursor:pointer;
	}

	.block_blog-small-desc{
		text-align: justify;
		font-size: 16px;
		letter-spacing: 1;
		padding: 0 20px;
		padding-bottom: 20px;
		overflow: hidden;
		display:none;
		max-height: 146px;
		overflow-y: auto;
		color:#888888;
	}

	.block_blog-big-desc{
		text-align: justify;
		font-size: 16px;
		letter-spacing: 1;
		padding: 0 20px;
		padding-bottom: 20px;
		overflow: hidden;
		display:none;
		max-height: 146px;
		overflow-y: auto;
		color:#888888;
	}

	.block_blog-long-desc{
		text-align: justify;
		font-size: 16px;
		letter-spacing: -0.1px;
		padding: 0 20px;
		padding-bottom: 15px;
		overflow: hidden;
		color: #888888;
		max-height: 146px;
		overflow-y: auto;
		padding-left: 29px;
		line-height: 1.1;
		padding-right: 53px;

	}

	.block_blog-small-view{
		position: absolute;
		bottom: 0;
		padding-bottom: 40px;
		background: white;
		transition: all 0.5s;
	}

	.block_blog-big-view{
		position: absolute;
		bottom: 0;
		padding-bottom: 35px;
		background: white;
		transition: all 0.5s;
		width: 100%;
	}

	.block_blog-big-underline {
		border-top: 1px solid black;
		font-size: 0;
		text-align: left;
		position: absolute;
		width: 100%;
		bottom: -1px;
	}

	.added{
		color: #b00d0d;
	}

	.block_blog-long-title{
		font-size: 30px;
		font-weight: 600;
		padding: 0px 31px;
		text-align: left;
		line-height: 1.2;
		letter-spacing: -0.2px;
		padding-bottom: 19px;
		padding-left: 28px;
	}

	.banner{
		background: #e18282;
		color:white;

	}

	.banner .block_blog-small-title{
		font-size: 30px;
		font-weight: 500;
		padding-top: 24px;
		line-height: 1.2;
		padding-left: 21px;
		letter-spacing: 0px;
		padding-right: 33px;
		font-family: MyriadPro;
	}

	.block_blog-smalladv-desc{
		text-align: left;
		font-size: 16px;
		padding: 0 20px;
		padding-bottom: 20px;
		overflow: hidden;
		display: block;
		max-height: 146px;
		overflow-y: auto;
		color: white;
		line-height: 1.3;
	}

	.block_blog-long .block_blog-small{
		display: inline-block;
	}

	.eye{
		color:#6b9b2f;
	}

	.block_blog-small-view_no-img{


		padding-bottom: 40px;
		background: white;
		transition: all 0.5s;
		display:block;
	}

	.block_blog-small-view_no-img .block_blog-long-desc {
		text-decoration: underline;
	}

	.block__blog-expand{
		padding: 20px;


	}

	.block__set .slick-dots {
		bottom: -45px;
	}

	.row-padding{
		padding-top: 20px;
	}

	.footer__icons img{
		margin-left: 5px;
		margin-right: 5px;
	}

	.modal-body .product-block__slider-img{
		height: 600px;
	}

	.modal-body .product-block__slider img {
		width: auto;
	}

	.modal-body{
		padding: 0;
	}

	.modal-body_text{
		padding: 20px;
		padding-bottom: 40px;
		text-align: left;
		padding-left: 61px;
		font-family: ;
	}

	.modal-body_text h2{
		font-size: 30px;
		font-weight: 700;
		font-family: 'Myriad Pro Regular';
		letter-spacing: 1px;
	}

	.modal-body_text .weight{

		color: #878787;
		font-size: 18px;
		font-weight: 500;
		padding-bottom: 29px;

	}

	.modal-body_text tr {
		border-bottom: 1px solid #efefef;
	}

	.modal-body_text td{
		color: black;
		font-size: 15px;
		width: 74%;
		height: 30px;
		padding: 0 10px;
		font-weight: 700;
		letter-spacing: 0.9px;
		padding-left: 3px;
	}

	.modal-body_text .price{
		color: #888888;
		font-size: 16px;


	}

	.modal-table{
		width: 80%;
	}
	#GSCCModal .product-block__price {
		line-height: 42px;
	}

	#GSCCModal .product-block__price span {
		line-height: 42px;
		vertical-align: middle;
	}

	.modal-table :last-child {
		border-bottom: 0px solid #efefef;
	}

	.modal-table td:last-child {
		font-family: 'Myriad Pro Regular';
	}

	.modal-footer {
		padding: 0;
		text-align: left;
		border-top: none;
		padding-bottom: 40px;
		padding-left: 20px;
	}

	.modal-footer .product-block__price{
		text-align: center;
		display: inline-block;
	}

	.modal-footer__next a{
		color:black;
		text-decoration: none;
		font-size: 16px;
		line-height: 40px;
	}

	.modal-footer__next {
		display: inline-block;
		float: right;
		text-align: right;
		padding-right: 20px;

	}

	.modal-footer__next img{
		padding-left: 10px;
	}

	.modal-footer .block__store {
		display: inline-block;
	}


	.modal-content {

		border-radius: 0;
	}

	.close {
		position: absolute;
		font-size: 35px;
		color: #ececec;
		z-index: 20;
		top: -35px;
		right: -30px;
		text-shadow: none;
		opacity: 0.4;
	}

	.modal-contact{
		position: fixed;
		bottom: 20px;
		left: 0;
		right: 0;
		border-bottom: 4px solid #89597b;
		max-width: 768px;

	}

	.modal-contact__body{

		padding: 20px;
		padding-top: 0px;
	}

	.modal-contact__title{
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.modal-contact__info{
		font-size: 18px;
		color: #999;
		text-decoration: none;
		display: block;
		line-height: 1.9;


	}

	.modal-contact__info:hover{
		color: #999;
		text-decoration: none;
	}

	.modal-contact__info-img{
		padding-right: 10px;
		width: 27px;
	}

	.modal-contact-social{
		padding: 20px 10px;
		padding-left: 0px;
	}

	.modal-footer__btn{
		width: 205px;
		height: 45px;
		color:#11ab79;
		border:2px solid #11ab79;
		border-radius: 40px;
		line-height: 45px;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor:pointer;
	}

	.modal-footer__btn:hover{
		background: #11ab79;
		color: white;
	}

	.modal-contact__close{
		position: absolute;
		font-size: 35px;
		color: #999;
		z-index: 20;
		top: -5px;
		right: 5px;
		text-shadow: none;
		opacity: 0.4;
	}

	.modal-contact__textarea{
		height: 82px;
	}

	.border-top{
		border-top: 1px solid #ececec;
		padding-top: 20px;
	}



	.modal-search__body{



	}

	.modal-search__body-searchbox{
		width: 400px;
		margin: 0 auto;
		position: fixed;
		bottom: 20px;
		left: 0;
		right: 0;
		border: 2px solid #d04e3c;
	}

/*.footer__icons{
	text-align: left;
}
*/
.footer{
	padding-bottom: 60px;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
}
.our-choice .slick-dots li {
	margin: 0 1px;
}

.block__fructs-list h2 {
	font-size: 48px;
	letter-spacing: 0;
	margin-top: 0;
	margin-bottom: 28px;
}

.block__fructs-list .product-block__descr a {
	color: #b00d0d;
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	display: inline-block;
	padding-top: 1px;
}

.block__callback{
	padding-top: 33px;
	padding-bottom: 31px;
}

.block__blog-padding h2{
	font-size: 48px;
	letter-spacing: 0;
	margin-bottom: 16px;
	margin-top: 0;
}

.block__blog-padding .block__blog-tab li {
	text-decoration: none;
	color: black;
	padding: 2px 40px;
	margin: 0 39px;
	display: inline-block;
	cursor: pointer;
	min-width: 248px;
}
.block__blog-padding .block__blog-tab li:first-child, .block__blog-padding .block__blog-tab li:last-child {
	margin: 0;
}
.block__blog-padding  .block__blog-tab {
	background: #fdfdfc;
	padding: 20px;
	font-size: 24px;
	color: black;
	text-align: center;
	padding-top: 0;
	margin: 0;
	padding-bottom: 34px;
}

.block__blog-padding  .block__blog-expand {
	padding: 26px;
	padding-bottom: 20px;
}

.block_blog-long-date{
	color: #888888;
	text-align: left;
	padding: 0px 25px;
	padding-bottom: 14px;
	font-size: 15px;
	padding-left: 27px;
	font-style: italic;
}

.block_blog-big-title{
	font-size: 18px;
	font-weight: 600;
	padding: 13px 15px;
	text-align: left;
	line-height: 1;
	width:50%;

}

.block_blog-long-view{
	position: absolute;
	bottom: 0;
	padding-bottom: 66px;
	background: white;
	transition: all 0.5s;
	width: 100%;
}

.block_blog-longsm-desc{
	font-size: 16px;
	letter-spacing: -0.1px;
	padding: 0 20px;
	padding-bottom: 15px;
	overflow: hidden;
	color: #888888;
	max-height: 146px;
	overflow-y: auto;
	padding-left: 18px;
	line-height: 1.2;
	padding-right: 16px;
	text-align: left;
}

.footer__icons{
	text-align: left;
	padding-left: 16px;
}
.block__callback h2 {
	margin-top: 0;
	margin-bottom: 27px;
}
.product-block__descr{
	background:white;
}

.footer,.block__blog,.block__callback{
	background:#f9f7f5;
}

.block__blog-padding .block__blog-tab{
	background:#f9f7f5;
}



.block__fruit{
	background:#f9f7f5;
}


.block__fruit .block__botpart {
	padding-bottom: 15px;
}

.block__set .custom_tab {
	padding-top: 33px;
}

.modal.fade:not(.in) .modal-dialog {
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}


.header__top-icons-block-bag img{
	width:86px;
}
.header__top-icons-block-wallet img{
	width:70px;
}
.header__top-icons-block-vesi img{
	width:104px;
}
.header__top-icons-block-car img{
	width:121px;
}

.header__top-faq-info{
	font-size: 22px;
	vertical-align: middle;
	margin-right: 5px;
	color: #97a655;
}

.block-icon-chef{
	color: #b00d0d;
	margin-right:7px;
}

.icon-chef-slider{
	margin-right:10px;
}

.footer__icons-box {
	width: 34px;
	height: 34px;
	border: 2px solid #999;
	border-radius: 40px;
	font-size: 20px;
	padding-left: 5px;
	color: #999;
	padding-top: 5px;
	display: inline-block;
}

.footer__icons-box:hover{
	background: #b00d0d;
	border:2px solid #b00d0d;
}

.footer__icons-box a{
	color:#999;
}

.footer__icons-box:hover a{
	color:white;
}

.footer__icons-box-vk{
	padding-top: 5px;
}

.footer__icons-box-vk:hover{
	background: #7692B5;
	border:2px solid #7692B5;
}

.footer__icons-box-fb:hover{
	background: #3b5998;
	border:2px solid #3b5998;
}

.footer__icons-box-inst:hover{
	background: #000;
	border:2px solid #000;
}


.product-block__price:hover{
	background: #eee;
}

.block__fruit .block__botpart .block__store .product-block__price:hover {
	background: #eee;
}

.product__arrow-margin{
	margin-right: 5px;
	vertical-align: middle;
}

.product__arrow__right-margin{
	margin-left:5px;
	vertical-align: middle;
	font-size: 12px;
}

.vs-icon-arr-right:before {
	content: '\0041';
	position: relative;
	top: 2px;
}

.midpart_expand{
	margin-top: -190px !important;
}

.descr_expand{
	height:180px !important;
}

.chef_expand{
	top:-7px !important;
}

.link__arrow-holder{
	display: inline-block;
	transform: rotate(180deg);
}

.arrow_change{
	transform: rotate(360deg);
	margin-left: 5px;
}

.vs-icon-up:before {
	content: '\006a';
	position: relative;
	top: 3px;
}

.modal__set .block__store{
	font-size: 0;
	padding-top: 12px;
	padding-bottom: 14px;
}

.modal__set .product-block__number select{
	border-width: 1px;
	border-color: #ddd;
	border-style: solid;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	width: 86px;
	height: 41px;
	padding-left: 15px;
	background-image: url(../img/icon/icon-down-empty.svg);
	background-repeat: no-repeat;
	background-position: 56px 17px;
	background-size: 10px 9px;
}

.modal__set .product-block__price{
	display: inline-block;
	font-size: 14px;
	color: #555;
	font-family: MyriadPro;
	vertical-align: middle;
	width: 173px;
	height: 41px;
	border-width: 1px;
	border-color: #ddd;
	border-style: solid;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-left: none;
	line-height: 37px;
}

.modal__set .product-block__price p{
	margin: 0;
	vertical-align: middle;
}

.header__top-faq a:hover {
	color: #b00d0d;
}

.block__blog-padding .block__blog-tab li:hover {
	color: #b00d0d;
}

.block_blog-small-underline-add span:hover {
	color: #b00d0d;
}

.footer__phone a:hover {
	color: #b00d0d;
}
.block_blog-small-underline-add.added span:hover {
	color: #333;
}

.multiple-items .product-block__descr .block__midpart .product-block__descr-more:hover {
	/* ммм найс вложенность */
	color: #333;
}

.modal .modal-dialog .close {
	top: 10px; right: 15px;
}

.product-block__number {
	border-width: 1px;
	border-color: #ddd;
	border-style: solid;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	width: 86px;
	height: 41px;
	padding-left: 15px;
	background-image: url(../img/icon/icon-down-empty.svg);
	background-repeat: no-repeat;
	background-position: 56px 17px;
	background-size: 10px 9px;
	font-size: 16px;
	vertical-align: middle;
}

#GSCCModal {
	top: auto;
	bottom: 19px;
}
#GSCCModal .modal-content {
	height: calc(100vh - 48px);
	overflow: auto;
}

.product-block {
	// min-height: 443px;
}

.multiple-items .block__botpart .product-block__descr-town {
	min-height: 30px;
}