.lk-personal-data__inp:focus {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
textarea.lk-personal-data__tarea:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	outline: 0;
}
.ingridients__list {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}
.block__fruit {
	background: #e8e8e8;
}
.midpart_expand {
	margin-top: -179px !important;
}
.form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #ddd;
}
.form-control--boxshadow:focus, .form-control--boxshadow:hover {
	border-color: rgb(255, 255, 255);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#modal-contact .modal-footer {
	border-bottom: 4px solid #7d5979;
	max-height: calc(100vh - 50px);
}
.vs-icon-message:before {
	vertical-align: text-top;
}
span.vs-icon-contact {
	vertical-align: middle;
}
.sticky-bot-menu_info {
	line-height: 61px;
	vertical-align: middle;
}
.sticky-bot-menu_store {
	line-height: 61px;
	vertical-align: middle;
}
.recipe__expand_center{
	margin-top: 40px;
	text-align: center;
}
.tell-friends.expanded-recipe__tell-friends:after {
	content: "";
	width: 100%;
	height: 1px;
	background: #ddd;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.tell-friends {
	position: relative;
}
.modal-footer__next1{
	display: none;
}
@media (max-width: 767px) {
	.sticky-bot-menu_contact {
		line-height: 40px;
	}
	.sticky-bot-menu_search {
		line-height: 40px;
	}
	.sticky-bot-menu_message {
		line-height: 40px;
	}
	.sticky-bot-menu_store {
		line-height: 41px;
	}
	.sticky-bot-menu_info {
		line-height: 42px;
	}
	.sticky-bot-menu_user {
		line-height: 40px;
	}
	.sticky-bot-menu_list {
		line-height: 40px;
	}
	#modal-contact .modal-content {
		border-top: 4px solid #7d5979;
		max-height: calc(100vh - 50px);
	}
	.block__set {
		padding-bottom: 0;
	}
	.slick-track {
		padding-bottom: 30px;
	}
	span.vs-icon-checked {
		vertical-align: middle;
	}
	.block__fruit .block__botpart .block__store .product-block__number {
		padding-left: 6px;
	}
	.chef__receipt {
		min-width: 149px;
	}
	.block__fruit .block__botpart .product-block__descr-town {
		min-height: 13px;
		line-height: 13px;
		margin-bottom: 5px;
	}
	.block__fruit .block__botpart .product-block__instore a {
		margin-right: 7px;
	}
	.recipe {
		width: 320px !important;
	}
	.tell-friends__soc:not(:last-of-type) {
		margin-right: 1px;
	}
}
















@media (max-width: 768px){
	#GSCCModal .modal-dialog {
		width: 768px;
	}
	.modal-body_text h2{
		margin-top: 22px;
		font-size: 30px;
		font-family: 'Myriad Pro Regular';
		letter-spacing: 0.8px;
	}
	.modal-body_text .weight {
		color: #878787;
		font-size: 18px;
		font-weight: 500;
		padding-bottom: 27px;
		font-family: 'Myriad Pro Regular';
		letter-spacing: 0.8px;
	}

	.modal-body_text td {
		color: black;
		font-size: 15px;
		height: 26px;
		letter-spacing: 0.5px;
		font-family: 'Myriad Pro Regular';
		font-weight: 500;
		width: 74.2%;
		padding: 0 2px;
	}

	.modal-table td:last-child {
		font-family: 'Calibri';
		font-weight: 600;
	}
	.weight img{
		vertical-align: sub;
	}
	.modal__set .block__store {
		padding-top: 7px;
	}

	.modal-body_text {
		padding-bottom: 38px;
		padding-left: 36px;
	}
	#GSCCModal .product-block__price {
		line-height: 50px;
	}
	.modal__set .product-block__price {
		display: inline-block;
		font-size: 18px;
		color: #555;
		font-family: MyriadPro;
		vertical-align: middle;
		width: 216px;
		height: 50px;
		border-width: 1px;
		border-color: #ddd;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
		border-left: none;
		line-height: 37px;
		letter-spacing: 0.3px;
	}
	#GSCCModal .product-block__price span {
		vertical-align: sub;
		font-size: 21px;
	}

	.product-block__number {
		width: 103px;
		height: 50px;
		border-radius: 0px;
		box-shadow: none;
		background: url(../img/icon-caret.png) no-repeat;
		background-position: 65px 19px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		display: inline-block;
		padding-left: 17px;
	}
	.modal-footer__next {
		padding-right: 21px;
	}
	.modal-footer__next {
		padding-right: 6px;
		padding-top: 6px;
	}
}










@media (max-width: 767px){
	#GSCCModal .modal-dialog {
		width: 100%;
		margin: 0;
	}
	.slick-dots li {
		width: 18px;
		height: 19px;
		margin: 0;
	}
	.modal-body_text h2{
		margin-top: 0;
	}
	.modal-body_text .weight {
		letter-spacing: 1px;
	}

	.modal-table {
		table-layout: fixed;
	}
	.modal-footer {
		padding-left: 7px;
		padding-bottom: 15px;
	}
	.modal-body_text {
		padding-top: 24px;
		padding-left: 6px;
		padding-bottom: 19px;
	}
	.modal-body_text td {
		width: 255px;
		padding: 0 2px;
	}
	.modal-table td:last-child {
		width: 50px;
	}
	.modal__set .block__store {
		padding-top: 7px;
		padding-left: 0;
		padding-bottom: 36px;
		padding-right: 0;
	}
	.modal__set .product-block__price {
		width: 201px;
	}
	#GSCCModal .product-block__price span {
		vertical-align: sub;
		font-size: 21px;
		margin-left: 7px;
	}
	.product-block__number {
		width: 105px;
		height: 50px;
		border-radius: 0px;
		box-shadow: none;
		background: url(../img/icon-caret.png) no-repeat;
		background-position: 65px 21px;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		display: inline-block;
		padding-left: 17px;
	}
	.modal-footer__next {
		padding-right: 21px;
	}
	.modal-footer__next {
		display: none;
	}
	.modal-footer__next1 {
		display: block;
		margin: 0 auto;
		text-align: center;
		padding-top: 6px;
	}
	.modal-footer__next1 a {
		color: black;
		text-decoration: none;
		font-size: 16px;
		line-height: 40px;
	}
	#GSCCModal .block__store:after {
		content: "";
		width: 100%;
		height: 1px;
		background: #ddd;
		position: absolute;
		left: 0;
		bottom: 22px;
	}
	.modal-footer__next1 img {
		padding-left: 10px;
	}
}
.searchform__clear{
	color: #ff0000;
	vertical-align: sub;
}
.searchform__inp{
}

.booking__refresh:before {
	content: '\005a';
	position: absolute;
	color: #fff;
	top: -3px;
	right: 71px;
	width: 86px;
	height: 80px;
	font-weight: initial;
	font-size: 48px;
	display: inline-block;
	font-family: 'vsalat';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.booking__refresh img{
	display: none;
}
.booking__refresh-text {
	margin-top: 53px;
}
a.btn-w.lk-balls__bonus-btn:before {
	content: '\004b';
	position: absolute;
	color: #fff;
	top: 11px;
	right: 281px;
	font-weight: initial;
	font-size: 18px;
	display: inline-block;
	font-family: 'vsalat';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.lk-balls__bonus-btn {
	position: relative;
	background: rgba(255, 255, 255, 0);
}
.recipe__time:before {
	content: '\0065';
	position: absolute;
	color: #007624;
	top: -2px;
	right: 117px;
	width: 86px;
	height: 80px;
	font-weight: initial;
	font-size: 20px;
	display: inline-block;
	font-family: 'vsalat';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.recipe__time:after{
	display: none;
}
.socials {
	position: relative;
}
.recipe__socials {
	height: 30px;
}
.socials__social{
	height: 100%;
}
a.socials__social.vs-icon-vk{
	color: #a7a7a7;
}
a.socials__social.vs-icon-mail{
	color: #a7a7a7;
}
a.socials__social.vs-icon-mail:before,a.socials__social.vs-icon-vk:before {
	vertical-align: middle;
}
.recipe__close:after {
	display: none;
}
.recipe__close.vs-icon-close:before{
	content: '\0049';
	position: absolute;
	top: 3px;
	right: 93px;
	font-weight: initial;
	font-size: 20px;
	display: inline-block;
	font-family: 'vsalat';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #555;
	font-size: 14px;
	/* position: relative; */
	padding-left: 26px;
	width: 12%;
}
.recipe__close {
	padding-left: 43px;
	margin-top: 7px;
}
.main-text__heading:after{
	display: none;
}
.main-text__heading:before {
	content: '\0052';
	position: absolute;
	top: -27px;
	right: -95px;
	color: #ff0000;
	font-size: 88px;
	display: inline-block;
	font-family: 'vsalat';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
textarea#text {
	resize: none;
}
button.close.vs-icon-close {
	font-size: 19px;
	color: #53423a;
}
.modal .modal-dialog .close {
	top: 20px;
	right: 20px;
}
.product-block--fixedw .product-block__remove {
	background: rgba(240, 248, 255, 0);
	top: 10px;
	color: #53423a;
	right: 10px;
	font-size: 18px;
	width: 18px;
	height: 18px;
}
.vs-icon-close_bold{
	font-weight: bold;
	color: #000 !important;
	opacity: 1;
}



.slick-prev::before {
	content: '\0070';
}
.slick-prev:before{

	font-size: 20px;
	line-height: 1;
	opacity: 1;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-family: 'vsalat';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
	font-size: x-large;
}
.slick-next::before {
	content: '\0041';
}
.slick-next:before {
	font-weight: bold;
	font-size: x-large;
	display: inline-block;
	font-family: 'vsalat';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
	font-size: 20px;
	line-height: 1;
	opacity: 1;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: 1;
}
select.form-control.product-block__number {
    padding: 0;
    padding-left: 15px;
}