@font-face {
	font-family: 'Myriad Pro Bold';
	src: url("../fonts/MyriadPro-Bold.eot");
	src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro Regular';
	src: url("../fonts/MyriadPro-Regular.eot");
	src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.eot');
	src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri.woff') format('woff'),
		url('../fonts/Calibri.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.sticky-bot-menu > div {
	cursor: pointer;
}

.slick-next {
	position: relative;
}
.slick-next::before {
	content: '\0041';
	display: inline-block;
	font-family: 'vsalat';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.no-events {
	pointer-events: none;
}

#modal-contact {
	bottom: 19px;
	top: auto;
}
.active {
	border: none;
}
a:focus {
	outline: none;
	outline-offset: -2px;
}
a:focus,
a:hover {
	color: trsss;
	text-decoration: none;
}
.modal-lk {
	max-width: 962px;
	background-color: #fff;
	padding-bottom: 25px;
}
.main-text {
	text-align: center;
}
.main-text__heading {
	position: relative;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: 0;
	margin-bottom: 5px;
	display: inline-block;
}
.main-text__heading:after {
	position: absolute;
	content: '';
	top: -27px;
	right: -72px;
	background: url("../img/image-lamp.png") no-repeat;
	width: 51px;
	height: 87px;
}
.main-text__descr-hl {
	font-weight: 700;
}
.main-text__descr {
	font-size: 16px;
}
.lk-tabs {
	position: relative;
	font-size: 18px;
}
.lk-tabs__tabs {
	border: none;
	position: relative;
	text-transform: uppercase;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.lk-tabs__tabs > li > a {
	border: none;
	color: #000;
	padding-top: 20px;
	font-size: 18px;
	white-space: nowrap;
}
.lk-tabs__tabs > li {
	border: none;
	float: none;
}
.modal-hamb .active {
	border-bottom: none;
}
.modal-hamb__head {
	margin: 0;
	font-weight: 400;
	font-family: 'Myriad Pro Regular';
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 5px;
	padding-left: 36px;
	margin-bottom: 10px;
}
.modal-hamb__text {
	font-size: 18px;
	display: inline-block;
	padding-left: 36px;
	padding-top: 6px;
}
.modal-hamb__tabc {
	padding-top: 21px;
	min-height: 251px;
}
.modal-hamb__tabs {
	border: none;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: 10px;
	padding-left: 9px;
}
.modal-hamb__tabs > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.modal-hamb__tabs > li {
	border: none;
	float: none;
}
.modal-hamb__tabs > li.active {
	background: url("../img/hover.png") no-repeat;
	background-size: 100%;
	background-position: center;
}
.modal-hamb__tabs > li.active a {
	color: #fff;
}
.lk-tabs__tabs > li.active > a,
.lk-tabs__tabs > li.active > a:focus,
.lk-tabs__tabs > li.active > a:hover {
	border: none;
}
.lk-tabs__content .active {
	border: none;
}
.lk-tabs__tabs > li > a:focus,
.lk-tabs__tabs > li > a:hover {
	background-color: transparent;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data > a {
	z-index: 1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data > a:hover {
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data > a:hover:after {
	background-image: url("../img/decorative-hover-orange.png");
	background-repeat: no-repeat;
	content: '';
	top: -5px;
	left: -28px;
	width: 278px;
	height: 78px;
	position: absolute;
	z-index: -1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data.active > a {
	z-index: 1;
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data.active > a:after {
	background-image: url("../img/decorative-hover-orange.png");
	background-repeat: no-repeat;
	content: '';
	top: -5px;
	left: -28px;
	width: 278px;
	height: 78px;
	position: absolute;
	z-index: -1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data.active > a:focus {
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-balls > a {
	z-index: 1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-balls > a:hover {
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-balls > a:hover:after {
	background-image: url("../img/decorative-hover-green.png");
	background-repeat: no-repeat;
	content: '';
	top: -5px;
	left: -28px;
	width: 278px;
	height: 78px;
	position: absolute;
	z-index: -1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-balls.active > a {
	z-index: 1;
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-balls.active > a:after {
	background-image: url("../img/decorative-hover-green.png");
	background-repeat: no-repeat;
	content: '';
	top: -5px;
	left: -28px;
	width: 278px;
	height: 78px;
	position: absolute;
	z-index: -1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-balls.active > a:focus {
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes > a {
	z-index: 1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes > a:hover {
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes > a:hover:after {
	background-image: url("../img/decorative-hover-lgreen.png");
	background-repeat: no-repeat;
	content: '';
	top: -5px;
	left: -28px;
	width: 278px;
	height: 78px;
	position: absolute;
	z-index: -1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes.active > a {
	z-index: 1;
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes.active > a:after {
	background-image: url("../img/decorative-hover-lgreen.png");
	background-repeat: no-repeat;
	content: '';
	top: -5px;
	left: -28px;
	width: 278px;
	height: 78px;
	position: absolute;
	z-index: -1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes.active > a:focus {
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-history > a {
	z-index: 1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-history > a:hover {
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-history > a:hover:after {
	background-image: url("../img/decorative-hover-purple.png");
	background-repeat: no-repeat;
	content: '';
	top: -5px;
	left: -19px;
	width: 278px;
	height: 78px;
	position: absolute;
	z-index: -1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-history.active > a {
	z-index: 1;
	color: #fff;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-history.active > a:after {
	background-image: url("../img/decorative-hover-purple.png");
	background-repeat: no-repeat;
	content: '';
	top: -5px;
	left: -19px;
	width: 278px;
	height: 78px;
	position: absolute;
	z-index: -1;
}
.modal-lk .lk-tabs__tabs .lk-tabs__tab-history.active > a:focus {
	color: #fff;
}
.modal-about .modal-header {
	border-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
.modal-about__wrap {
	padding-left: 29px;
	padding-right: 29px;
	margin-bottom: 33px;
}
.modal-about__head {
	font-size: 30px;
	font-weight: 400;
	font-family: 'Myriad Pro Regular';
	text-transform: uppercase;
	margin-bottom: 23px;
}
.modal-about__descr {
	font-size: 16px;
	line-height: 20px;
}
.modal-about__descr-hl {
	font-family: 'Myriad Pro Regular';
}
.accordion {
	transition: .3s;
	position: relative;
	border-top: 1px solid #e5dbd9;
	padding-top: 16px;
	padding-bottom: 8px;
}
.accordion:last-of-type {
	border-bottom: 1px solid #e5dbd9;
}
.accordion.expanded {
	padding-top: 30px;
	padding-bottom: 26px;
}
.accordion.expanded .accordion__head {
	font-family: 'Myriad Pro Regular';
	color: #b00d0d;
	font-weight: 400;
}
.accordion.expanded .accordion__arrow {
	background: url("../img/icon-arrow-down-red.png");
	width: 18px;
	height: 10px;
	top: 41px;
	right: 8px;
}
.accordion.expanded .accordion__text {
	display: block;
}
.accordion__head {
	margin: 0;
	font-size: 24px;
	padding-left: 4px;
	margin-bottom: 15px;
	padding-right: 40px;
}
.accordion__text {
	display: none;
	font-size: 16px;
	padding-left: 4px;
}
.accordion__arrow {
	background: url("../img/icon-arrow--down-green.png") no-repeat;
	width: 18px;
	height: 10px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	right: 10px;
}
.lk-personal-data {
	padding-top: 6px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #dedede;
	color: #000;
}
.lk-personal-data__col-info {
	width: 67%;
	float: left;
	padding-right: 25px;
}
.lk-personal-data__col-pw {
	width: 33%;
	float: right;
	padding-left: 25px;
}
.lk-personal-data__heading {
	font-size: 18px;
	border-bottom: 1px solid #dedede;
}
.lk-personal-data__label {
	display: block;
	font-size: 16px;
	padding-top: 23px;
	margin-bottom: 7px;
}
.lk-personal-data__label--spec {
	padding-left: 5px;
}
.lk-personal-data__inp {
	display: block;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #dedede;
	font-size: 16px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: none;
	-webkit-appearance: none;
}

.form-control {
	box-shadow: none;
	-webkit-appearance: none;
}
.lk-personal-data__inp:focus {
	outline: -webkit-focus-ring-color auto 5px;
}
.lk-personal-data__biginp {
	width: 100%;
}
.lk-personal-data__tarea {
	display: block;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #dedede;
	font-size: 16px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	margin-top: 11px;
	resize: none;
	height: 162px;
	box-shadow: none;
	-webkit-appearance: none;
}
.lk-personal-data__f-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.lk-personal-data__wrap--small {
	width: 48.5%;
}
.lk-personal-data__btn-wrap {
	margin-top: 38px;
	text-align: center;
}
.btn-o {
	border-radius: 20px;
	border: 2px solid #ce0505;
	color: #ce0505;
	background-color: transparent;
	text-transform: uppercase;
	padding: 9px;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 16px;
	text-align: center;
	letter-spacing: 2px;
}
.btn-o:hover,
.btn-o:focus {
	color: #ce0505;
	text-decoration: none;
}
.btn-g {
	border-radius: 20px;
	color: #fff;
	text-transform: uppercase;
	padding: 9px;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 16px;
	text-align: center;
	letter-spacing: 2px;
	background-color: #11ab79;
}
.btn-g:hover {
	text-decoration: none;
	color: #fff;
}
.searchform {
	position: absolute;
	bottom: 0px;
	right: 50%;
	margin-right: -240px;
	display: inline-block;
	padding-right: 40px;
	font-size: 16px;
}
.searchform:after {
	content: '\0063';
	display: inline-block;
	font-family: 'vsalat';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 10px;
	color: #ff0000;
	font-size: 13px;
}
.searchform__inp {
	letter-spacing: 0.2px;
	border: 2px solid #d04e3c;
	width: 398px;
	height: 41px;
	padding-left: 40px;
	margin-right: 10px;
}
.btn-w {
	color: #fff;
	border-radius: 20px;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	letter-spacing: 2px;
	border: 1px solid #fff;
}
.btn-w:hover {
	text-decoration: none;
}
.modal-lk-wrap {
	width: 962px;
}
.modal-lk-wrap .close {
	color: #000;
	top: 15px;
	right: 24px;
}
.modal-search {
	padding: 18px;
	padding-bottom: 16px;
}
.modal-search__products {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.modal-search-wrap {
	width: 100%;
}
.modal-search-wrap .close {
	color: #000;
	top: 15px;
	right: 24px;
}
.modal-cart-wrap {
	width: 1240px;
}
.modal-cart-wrap .close {
	color: #000;
	top: 15px;
	right: 24px;
}
.modal-about-wrap {
	width: 766px;
}
.modal-about-wrap .close {
	color: #000;
	top: 15px;
	right: 24px;
}
.modal-hamb-wrap {
	width: 766px;
}
.modal-hamb-wrap .close {
	color: #000;
	top: 15px;
	right: 24px;
}
.modal-cart-wrap2 {
	width: 730px;
}
.modal-cart-wrap2 .close {
	color: #000;
	top: 15px;
	right: 24px;
}
.modal-cart-wrap3 {
	width: 731px;
}
.modal-cart-wrap3 .close {
	color: #000;
	top: 42px;
	right: 8px;
}
#modal-lk {
	bottom: 20px;
	top: auto;
}
#modal-lk .modal-header {
	padding-top: 37px;
	padding-bottom: 0;
}
#modal-lk .modal-content {
	border-bottom: 4px solid #ff8f25;
	// height: calc(100vh - 50px);
	height: calc(100vh - 50px);
	overflow: hidden;
}

#modal-lk .modal-body {
	// height: 100vh;
	height: calc(100vh - 250px);
	overflow-y: auto;
	padding-left: 0;
	padding-right: 0;
}
#modal-lk .modal-body--spec {
	max-height: calc(100vh - 110px);
}
#modal-about {
	bottom: 20px;
	top: auto;
}
#modal-about .modal-header {
	padding-top: 37px;
	padding-bottom: 0;
}
#modal-about .modal-content {
	border-bottom: 4px solid #92a84e;
	max-height: calc(100vh - 50px);
	overflow: hidden;
}
#modal-about .modal-body {
	max-height: calc(100vh - 300px);
	overflow-y: auto;
	padding-left: 0;
	padding-right: 0;
}
#modal-about .modal-body--spec {
	max-height: calc(100vh - 110px);
}
#modal-hamburger {
	bottom: 20px;
	top: auto;
}
#modal-hamburger .modal-header {
	padding-top: 37px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
#modal-hamburger .modal-content {
	border-bottom: 4px solid #be5600;
	max-height: calc(100vh - 50px);
	overflow: hidden;
}
#modal-hamburger .modal-body {
	max-height: calc(100vh - 300px);
	overflow-y: auto;
	padding-left: 0;
	padding-right: 0;
}
#modal-hamburger .modal-body--spec {
	max-height: calc(100vh - 110px);
}
#modal-search {
	padding: 0 !important;
	bottom: 20px;
	top: auto;
}
#modal-search .modal-header {
	padding: 0;
	border-bottom: none;
}
#modal-search .modal-content {
	border-bottom: 4px solid #d04e3c;
	max-height: calc(100vh - 50px);
	height: calc(100vh - 50px);
	overflow: hidden;
}
#modal-search .modal-body {
	overflow-y: auto;
	padding-left: 0;
	padding-right: 0;
	height: 100%;
}
#modal-cart {
	bottom: 20px;
	top: auto;
}
#modal-cart .modal-header {
	padding-top: 37px;
	padding-bottom: 0;
	border-bottom: none;
}
#modal-cart .modal-content {
	border-bottom: 4px solid #607f47;
	height: calc(100vh - 100px);
}
#modal-cart .modal-body--spec {
	max-height: calc(100vh - 110px);
}
#modal-cart .modal-footer {
	padding-left: 0;
	padding-bottom: 0;
}
#modal-cart .cart-step2 .modal-header {
	padding-top: 37px;
	padding-bottom: 0;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 17px;
}
#modal-cart .cart-step2 .modal-body {
	height: 470px;
}
#modal-cart .cart-step3 .modal-content {
	height: 474px;
}
#modal-cart .cart-step3 .modal-body {
	height: 397px;
}
.sticky-bot-menu_search.active {
	border: 4px solid #b54f3f;
	border-top: none;
	background-color: #fff;
}
.sticky-bot-menu_search.active a {
	color: #b54f3f;
}


.sticky-bot-menu_list.active {
	border: 4px solid #a75714;
	border-top: none;
	background-color: #fff;
}
.sticky-bot-menu_list.active a {
	color: #a75714;
}


.sticky-bot-menu_store.active {
	border: 4px solid #607f47;
	border-top: none;
	background-color: #fff;
}
.sticky-bot-menu_store.active a {
	color: #607f47;
}

.sticky-bot-menu_store.active p {
	color: #607f47;
}

// .sticky-bot-menu_store.active .sticky-bot-menu_store-in {
// 	position: absolute;
// 	top: 0px;
// 	left: 19px;
// }

// .sticky-bot-menu_store.active .sticky-bot-menu_store-out {
// 	position: absolute;
// 	top: 0px;
// 	left: 46px;
// }


.sticky-bot-menu_user.active {
	border: 4px solid #e68e33;
	border-top: none;
	background-color: #fff;
}
.sticky-bot-menu_user.active a {
	color: #e68e33;
}


.sticky-bot-menu_message.active {
	border: 4px solid #dd7f70;
	border-top: none;
	background-color: #fff;
}
.sticky-bot-menu_message.active a {
	color: #dd7f70;
}


.sticky-bot-menu_contact.active {
	border: 4px solid #7d5979;
	border-top: none;
	background-color: #fff;
}
.sticky-bot-menu_contact.active a {
	color: #7d5979;
}

.sticky-bot-menu_info.active {
	border: 4px solid #97a655;
	border-top: none;
	background-color: #fff;
}
.sticky-bot-menu_info.active a {
	color: #97a655;
}


.popup-promo-code {
	display: none;
	background-color: rgba(235, 127, 21, 0.95);
	max-width: 630px;
	padding-top: 60px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 21px;
	position: absolute;
	top: 42%;
	margin-top: -102px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.popup-promo-code__close {
	background: url("../img/icon-close-white.png") no-repeat;
	width: 19px;
	height: 19px;
	border: none;
	position: absolute;
	top: 16px;
	right: 13px;
}
.popup-promo-code__text {
	color: #fff;
	padding-top: 5px;
	line-height: 22px;
	margin-bottom: 13px;
}
.popup-promo-code__text-hl {
	color: #000;
	font-family: 'Myriad Pro Regular';
}
.popup-promo-code__code {
	background-color: #ffb969;
	border: none;
	border-radius: 4px;
	min-height: 30px;
	padding-left: 18px;
	width: 100%;
	margin-bottom: 23px;
	font-family: 'Myriad Pro Regular';
}
.popup-promo-code__copy {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 26px;
	padding-right: 20px;
	letter-spacing: 1.5px;
	float: right;
	font-size: 14px;
}
.popup-promo-code__col1 {
	float: left;
	width: 29.1%;
}
.popup-promo-code__col2 {
	float: right;
	width: 69.9%;
	padding-left: 0px;
}
.lk-balls {
	padding-top: 124px;
	height: 458px;
	position: relative;
	background: url("../img/bg-balls.jpg") no-repeat;
	background-size: cover;
}
.lk-balls__sum {
	color: #fff;
	text-align: center;
}
.lk-balls__sum-big {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 60px;
	font-weight: 700;
	font-family: 'Myriad Pro Bold';
	line-height: 50px;
}
.lk-balls__btns-wrap {
	margin-top: 100px;
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
}
.lk-balls__how-btn {
	padding-top: 9px;
	padding-bottom: 9px;
	letter-spacing: .5px;
	padding-left: 44px;
	padding-right: 38px;
	float: left;
}
.lk-balls__how-btn:hover,
.lk-balls__how-btn:focus {
	text-decoration: none;
	color: #fff;
}
.lk-balls__bonus-btn {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 49px;
	padding-right: 20px;
	letter-spacing: .5px;
	float: right;
	background: url("../img/icon-plus-white.png") no-repeat 21px 11px;
}
.lk-balls__bonus-btn:hover,
.lk-balls__bonus-btn:focus {
	text-decoration: none;
	color: #fff;
}
.recipe {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.recipe__expand {
	color: #555;
	font-size: 14px;
	position: relative;
	padding-left: 31px;
	width: 22%;
}
.recipe__expand:after {
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	background: url("../img/icon-arrow-top.png") no-repeat;
	width: 20px;
	height: 10px;
}
.recipe__expand.collapsed:after {
	position: absolute;
	content: '';
	top: 2px;
	left: 0px;
	background: url("../img/icon-arrow-bottom.png") no-repeat;
	width: 20px;
	height: 10px;
}
.recipe__close {
	color: #555;
	font-size: 14px;
	position: relative;
	padding-left: 26px;
	width: 12%;
}
.recipe__close:after {
	position: absolute;
	content: '';
	top: 2px;
	left: 0px;
	background: url("../img/icon-close-grey.png") no-repeat;
	width: 14px;
	height: 14px;
}
.recipe__socials {
	width: 24%;
	justify-content: center;
}
.recipe__name {
	font-size: 23px;
	letter-spacing: 0.4px;
	margin-top: 14px;
	margin-bottom: 5px;
}
.recipe__time {
	color: #007624;
	font-size: 14px;
	padding-left: 30px;
	position: relative;
}
.recipe__time:after {
	position: absolute;
	content: '';
	top: -2px;
	left: 0px;
	background: url("../img/icon-clock-green.png") no-repeat;
	width: 20px;
	height: 20px;
}
.recipe__wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 14px;
	width: 42%;
}
.recipe__image-wrap {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	width: 73px;
	height: 73px;
	margin-right: 23px;
}
.recipe__image {
	width: auto;
	height: 100%;
	margin-left: -20px;
}
.recipe__rwrap {
	float: right;
}
.socials {
	display: flex;
	align-items: center;
}
.socials__social:not(:last-of-type) {
	margin-right: 8px;
}
.lk-recipes .panel-group {
	margin-bottom: 0;
}
.lk-recipes .panel-group .panel {
	border: none;
}
.lk-recipes .panel-default > .panel-heading {
	background-color: transparent;
}
.lk-recipes .panel-heading {
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 8px;
}
.lk-recipes .panel-group .panel-heading {
	padding-top: 0px;
	border-bottom: 1px solid #e6e6e6;
}
.lk-recipes .panel-group:last-of-type {
	border-bottom: none;
}
.lk-recipes .panel-group:first-of-type .panel-heading {
	padding-top: 8px;
}
.expanded-recipe {
	max-width: 687px;
	padding-left: 89px;
}
.expanded-recipe__ingridients {
	margin-bottom: 4px;
}
.expanded-recipe__order {
	margin-bottom: 16px;
}
.expanded-recipe__heading {
	margin: 0;
	font-family: 'Myriad Pro Regular';
	font-size: 18px;
	padding-left: 10px;
	margin-bottom: 2px;
}
.expanded-recipe__pic {
	padding-left: 10px;
	margin-bottom: 15px;
}
.ingridients {
	font-size: 16px;
	min-height: 140px;
	border: 1px solid #cdcdcd;
	padding-top: 6px;
	padding-left: 11px;
	padding-bottom: 6px;
}
.ingridients__ingridient {
	line-height: 20px;
}
.ingridients__list {
	list-style: none;
	padding: 0;
	margin: 0;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	width: 70%;
}
.ingridients__heading {
	font-size: 16px;
	margin: 0;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
	font-family: 'Myriad Pro Regular';
}
.ingridients__ingridient-hl {
	font-family: 'Myriad Pro Regular';
}
.order {
	font-size: 16px;
	padding-top: 6px;
	padding-left: 11px;
	padding-bottom: 6px;
}
.order__heading {
	font-size: 16px;
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	margin: 0;
	margin-bottom: 3px;
}
.order__text {
	line-height: 19px;
	margin-bottom: 0;
}
.tell-friends {
	padding-top: 10px;
	padding-left: 11px;
	padding-bottom: 6px;
}
.tell-friends__soc:hover {
	text-decoration: none;
}
.tell-friends__soc:not(:last-of-type) {
	margin-right: 11px;
}
.lk-bookings {
	padding-left: 17px;
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
}
.booking {
	max-width: 232px;
	border: 1px solid #cdcdcd;
	padding-bottom: 15px;
}
.booking:not(:nth-of-type(3n)) {
	margin-right: 108px;
}
.booking__photos {
	max-width: 230px;
	max-height: 215px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: 10px;
}
.booking__photos:after {
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}
.booking__photo {
	display: block;
	width: 50%;
}
.booking__date {
	padding-left: 7px;
	font-size: 16px;
	display: block;
	font-family: 'Myriad Pro Regular';
}
.booking__count {
	padding-left: 8px;
	font-size: 14px;
	color: #555555;
	display: block;
	margin-bottom: 10px;
}
.booking__total {
	padding-left: 11px;
	font-family: 'Myriad Pro Regular';
	font-size: 24px;
	color: #ce0505;
}
.booking__refresh {
	position: absolute;
	top: 50%;
	margin-top: -36px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.booking__refresh:hover {
	color: #fff;
	text-decoration: none;
}
.booking__refresh-img {
	display: block;
	margin-bottom: 9px;
}
.booking__refresh-text {
	display: block;
	font-size: 16px;
	color: #fff;
}
.main-lk {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 76px;
	padding-bottom: 90px;
}
.main-lk__heading {
	letter-spacing: 3.7px;
	margin-bottom: 30px;
}
.main-lk__tip {
	color: #545454;
	font-size: 16px;
	margin-bottom: 20px;
}
.main-lk__email {
	display: block;
	width: 475px;
	min-height: 41px;
	border-radius: 4px;
	border: 1px solid #dedede;
	font-size: 16px;
	padding-left: 25px;
	margin-bottom: 33px;
}
.main-lk__pw {
	display: block;
	width: 475px;
	min-height: 41px;
	border-radius: 4px;
	border: 1px solid #dedede;
	font-size: 16px;
	padding-left: 25px;
	margin-bottom: 33px;
	display: none;
}
.main-lk__havepassword {
	padding-left: 66px;
	padding-right: 63px;
	margin-bottom: 10px;
}
.main-lk__tip2 {
	font-size: 16px;
	margin-bottom: 8px;
}
.main-lk__getpass {
	border: 1px solid #dedede;
	color: #555555;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 36px;
	margin-bottom: 40px;
}
.main-lk__getpass:hover {
	color: #555555;
}
.product-block--fixedw {
	width: 231px;
	border: 1px solid #cdcdcd;
	padding-bottom: 17px;
	margin-bottom: 10px;
}
.product-block--fixedw:not(:nth-of-type(5n)) {
	margin-right: 7px;
}
.product-block--fixedw .product-block__price {
	width: 126px;
}
.product-block--fixedw .product-block__number {
	width: 75px;
}
.product-block--fixedw .product-block__country {
	display: block;
	padding-left: 11px;
	margin-bottom: 6px;
}
.product-block--fixedw .product-block__descr-title {
	height: auto;
	font-size: 16px;
	letter-spacing: 0.4px;
	padding-left: 9px;
	margin-bottom: 2px;
}
.product-block--fixedw .product-block__number {
	height: 30px;
	color: #ce0505;
	font-family: 'Myriad Pro Regular';
	position: static;
	background-position: 54px 10px;
	padding-left: 15px;
}
.product-block--fixedw .product-block__number option {
	color: #000;
}
.product-block--fixedw .product-block__price {
	height: 30px;
	background: none;
	color: #ce0505;
	text-align: center;
	font-family: 'Myriad Pro Regular';
	position: static;
	border-bottom-right-radius: 40px;
	border-color: #ddd;
	border-style: solid solid solid none;
	border-top-right-radius: 40px;
	border-width: 1px 1px 1px medium;
}
.product-block--fixedw .product-block__price p {
	height: 30px;
	margin-bottom: 0;
	line-height: 30px;
}
.product-block--fixedw .product-block__price-wrap {
	display: flex;
	padding-left: 10px;
}
.product-block--fixedw .product-block__remove {
	background: url("../img/icon-close-big-grey.png") no-repeat;
	width: 27px;
	height: 27px;
	position: absolute;
	top: 6px;
	right: 7px;
}
.product-block--fixedw .product-block__img {
	position: relative;
}
.product-block--fixedw2 {
	width: 290px;
	margin-right: 18px;
	margin-bottom: 18px;
	padding: 0;
}
.product-block--fixedw2:not(:nth-of-type(5n)) {
	margin-right: 18px;
}
.product-block--fixedw2 .product-block__descr-title {
	font-size: 18px;
	margin-top: 9px;
	padding-left: 14px;
	margin-bottom: 13px;
}
.product-block--fixedw2 .product-block__country {
	padding-left: 13px;
	margin-bottom: 7px;
}
.product-block--fixedw2 .product-block__price {
	height: 42px;
	line-height: 42px;
	width: 174px;
}
.product-block--fixedw2 .product-block__price p {
	height: 42px;
	line-height: 42px;
	color: #333;
}
.product-block--fixedw2 .product-block__number {
	width: 86px;
	height: 42px;
	background-position: 60px 16px;
	color: #333;
}

.product-block--fixedw2 .vs-icon-basket {
	vertical-align: middle;
	margin-right: 8px;
}
.cart-step1 {
	display: block;
}
.cart-step1__heading {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3.7px;
	margin: 0;
	margin-bottom: 5px;
}
.cart-step1__heading-hl {
	color: #ce0505;
	font-family: 'Myriad Pro Regular';
}
.cart-step1__heading-hlr {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
}
.cart-step1__tip {
	font-size: 16px;
	text-align: center;
}
.cart-step1__min-sum {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
}
.cart-step1__addsum {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
}
.cart-step1__clearcart {
	position: absolute;
	top: 23px;
	left: 21px;
	color: #545454;
	font-size: 16px;
}
.cart-step1__products {
	padding-left: 18px;
	padding-right: 18px;
	display: flex;
	flex-wrap: wrap;
	padding-right: 0;
}
.cart-step1__nextbtn {
	display: inline-block;
}
.cart-step1__footwrap {
	text-align: center;
	padding-top: 34px;
	padding-bottom: 23px;
}
.cart-step1 .modal-body {
	padding-top: 20px;
}
.cart-step2 {
	display: none;
	position: relative;
}
.cart-step2__back {
	color: #898989;
	font-size: 14px;
	position: absolute;
	padding-left: 30px;
	top: 23px;
	left: 21px;
}
.cart-step2__back:after {
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	background: url("../img/icon-arrow-left.png");
	width: 22px;
	height: 16px;
}
.cart-step2__heading {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3.7px;
	margin: 0;
	margin-top: 2px;
	margin-bottom: 5px;
}
.cart-step2__sum {
	font-size: 16px;
	text-align: center;
}
.cart-step2__total {
	color: #ce0505;
	font-family: 'Myriad Pro Regular';
}
.cart-step2__shipping {
	font-family: 'Myriad Pro Regular';
}
.cart-step2__footwrap {
	text-align: center;
	padding-top: 34px;
	padding-bottom: 23px;
}
.cart-step2__nextbtn {
	display: inline-block;
}
.cart-step3 {
	display: none;
	text-align: center;
}
.cart-step3 .modal-body {
	background: url("../img/bg-modal-cart-1920.jpg") no-repeat 0px 0px;
	padding-top: 70px;
	overflow-y: hidden;
}
.cart-step3__pic {
	position: relative;
	z-index: 2;
}
.cart-step3__img {
	margin-bottom: 0px;
}
.cart-step3__head {
	text-transform: uppercase;
	letter-spacing: 2.8px;
	margin: 0;
	font-size: 42px;
	margin-top: 20px;
	margin-bottom: 9px;
}
.cart-step3__tip {
	margin-bottom: 24px;
	line-height: 9px;
	font-size: 16px;
	font-family: 'Myriad Pro Regular';
}
.cart-step3__text {
	font-size: 16px;
	color: #898989;
	font-family: 'Myriad Pro Regular';
	max-width: 310px;
	margin-left: auto;
	margin-right: auto;
}
.cart-step3__footwrap {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 23px;
}
.cart-step3__nextbtn {
	display: inline-block;
	padding-left: 105px;
	padding-right: 105px;
}
.shipping-form {
	padding-top: 18px;
	padding-left: 78px;
	padding-right: 44px;
	padding-bottom: 24px;
}
.shipping-form input[type="radio"] {
	display: none;
}
.shipping-form input[type="radio"]:checked + label:before {
	position: absolute;
	content: '';
	top: 9px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #c3c3c3;
}
.shipping-form input[type="radio"] + label {
	position: relative;
	padding-left: 28px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0;
	line-height: 20px;
}
.shipping-form input[type="radio"] + label:after {
	content: '';
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid #c3c3c3;
	display: block;
	top: 5px;
	left: 3px;
	position: absolute;
	z-index: 2;
}
.shipping-form input[type="checkbox"] {
	display: none;
}
.shipping-form input[type="checkbox"]:checked + label:before {
	position: absolute;
	content: '';
	top: 5px;
	left: 5px;
	background: url("../img/icon-check-green.png") no-repeat;
	width: 17px;
	height: 15px;
	background-size: 80%;
}
.shipping-form input[type="checkbox"] + label {
	position: relative;
	padding-left: 28px;
}
.shipping-form input[type="checkbox"] + label:after {
	position: absolute;
	content: '';
	top: 5px;
	left: 5px;
	width: 13px;
	height: 13px;
	border: 1px solid #11ab79;
}
.shipping-form__link {
	color: #11ab79;
}
.shipping-form__label {
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 8px;
}
.shipping-form__label--p {
	padding-left: 10px;
}
.shipping-form__inp {
	font-size: 16px;
	border: 1px solid #dedede;
	border-radius: 4px;
	min-height: 41px;
	padding-left: 24px;
	width: 100%;
	margin-bottom: 8px;
}
.shipping-form__inp--sel {
	background: url("../img/icon-caret.png") no-repeat;
	background-position: right 16px top 18px;
	-webkit-appearance: none;
	/* for FF */

	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */

	-ms-appearance: none;
	appearance: none !important;
}
.shipping-form__inp--sel::-ms-expand {
	display: none;
}
.shipping-form__inp--code {
	padding-left: 36px;
	max-width: 48%;
	margin-right: 13px;
}
.shipping-form__inp--code.checked {
	background: url("../img/icon-check-green.png") no-repeat 10px 12px;
}
.shipping-form__inp--code.failed {
	background: url("../img/icon-close-red.png") no-repeat 10px 12px;
}
.shipping-form__inpwrap--small {
	width: 49%;
}
.shipping-form__inpwrap--p {
	padding-top: 17px;
}
.shipping-form__tarea {
	border: 1px solid #dedede;
	border-radius: 4px;
	resize: none;
	min-height: 95px;
	display: block;
	width: 100%;
	padding-left: 26px;
	padding-top: 11px;
	font-size: 16px;
}
.shipping-form__wrap {
	display: flex;
	justify-content: space-between;
}
.shipping-form__btn {
	display: inline-block;
}
.shipping-form__message {
	color: #11ab79;
	font-size: 16px;
}
.shipping-form__message-hl {
	font-family: 'Myriad Pro Regular';
}
.shipping-form__message.failed {
	color: #ce0505;
}
.shipping-form__total-wrap {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-top: 20px;
}
.shipping-form__total-wrap:after {
	position: absolute;
	content: '';
	top: 0px;
	left: -25px;
	width: calc(100% + 25px);
	height: 1px;
	background-color: #e5e5e5;
}
.shipping-form__payway {
	width: 50%;
}
.shipping-form__totalpay {
	width: 50%;
}
.shipping-form__payway-head {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Myriad Pro Regular';
	margin: 0;
	margin-bottom: 16px;
	margin-top: 15px;
}
.shipping-form__totalpay-head {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Myriad Pro Regular';
	margin: 0;
	display: inline-block;
}
.shipping-form__checkwrap {
	padding-top: 9px;
	line-height: 20px;
	max-width: 180px;
	font-size: 16px;
}
.shipping-form__totalsum {
	font-size: 24px;
	display: inline-block;
	font-family: 'Myriad Pro Regular';
}
.shipping-form__totalsum-sm {
	font-size: 18px;
	text-transform: uppercase;
}
.shipping-form__totalpay-wrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 7px;
}
.shipping-form__total-table {
	font-size: 16px;
	padding-top: 15px;
	padding-left: 18px;
	border-top: 1px dashed #cdcdcd;
	border-bottom: 1px dashed #cdcdcd;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	padding-bottom: 15px;
}
.shipping-form__total-table-row {
	line-height: 19px;
}
.shipping-form__total-table-cell {
	display: inline-block;
}
.shipping-form__total-table-cell:last-of-type {
	font-family: 'Myriad Pro Regular';
	text-align: left;
}
@media (max-width: 1238px) {
	.cart-step1 {
		width: 100%;
	}
	.product-block--fixedw {
		width: 231px;
		border: 1px solid #cdcdcd;
		padding-bottom: 17px;
		margin-bottom: 10px;
	}
	.product-block--fixedw:not(:nth-of-type(3n)) {
		margin-right: 7px;
	}
	.product-block--fixedw2 {
		width: 290px;
		border: 1px solid #cdcdcd;
		padding-bottom: 17px;
		margin-bottom: 10px;
	}
	.product-block--fixedw2:not(:nth-of-type(3n)) {
		margin-right: 7px;
	}
	.cart-step1__heading {
		font-size: 28px;
		letter-spacing: 3.9px;
	}
}
@media (max-width: 962px) {
	#modal-lk {
		bottom: 50px;
	}
	.modal-lk-wrap {
		width: 100%;
		margin: 0;
	}
	.recipe__image-wrap {
		display: none;
	}
	.expanded-recipe {
		max-width: 597px;
		padding-left: 0;
	}
	.cart-step2 {
		width: 100%;
	}
	.cart-step3 {
		width: 100%;
	}
	.cart-step3 .modal-body {
		background: url("../img/bg-modal-cart-768.jpg") no-repeat;
		background-position: 0px -80px;
		background-size: cover;
	}
	.cart-step3 .close {
		top: 42px;
	}
	.modal-about-wrap {
		width: 100%;
	}
	.modal-hamb-wrap {
		width: 100%;
	}
	.product-block--fixedw2 {
		width: 291px;
	}
	.modal-search__products {
		justify-content: space-around;
	}
}
@media (max-width: 769px) {
	body.modal-open {
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
}

@media (max-width: 767px) {
	#modal-cart .modal-content {
		overflow: scroll;
	}
	.modal-open {
		overflow: hidden;
	}
	.sticky-bot-menu_search.active {
		border: 4px solid #b54f3f;
		border-bottom: none;
	}

	.sticky-bot-menu_list.active {
		border: 4px solid #a75714;
		border-bottom: none;
	}

	.sticky-bot-menu_store.active {
		border: 4px solid #607f47;
		border-bottom: none;
	}

	.sticky-bot-menu_user.active {
		border: 4px solid #e68e33;
		border-bottom: none;
	}

	.sticky-bot-menu_message.active {
		border: 4px solid #dd7f70;
		border-bottom: none;
	}

	.sticky-bot-menu_contact.active {
		border: 4px solid #7d5979;
		border-bottom: none;
	}

	.sticky-bot-menu_info.active {
		border: 4px solid #97a655;
		border-bottom: none;
	}





	.modal .modal-body {
		overflow-y: scroll;
	}
	.lk-personal-data__btn-wrap {
		position: relative;
		padding-top: 21px;
	}
	.lk-personal-data__btn-wrap:after {
		width: calc(100% + 60px);
		height: 1px;
		background-color: #ccc;
		position: absolute;
		content: '';
		top: 0;
		left: -30px;
	}
	.modal .modal-dialog.modal-search-wrap .close {
		top: auto;
		bottom: 40px;
	}
	.modal-search {
		padding-top: 7px;
	}
	.searchform {
		top: 0;
		bottom: auto;
		margin-right: -155px;
		padding-right: 0;
	}
	.searchform__inp {
		width: 280px;
		margin-right: 5px;
	}
	.modal-search__products {
		padding-top: 52px;
	}
	#modal-search {
		top: 40px;
		bottom: auto;
	}
	#modal-search .modal-content {
		border-top: 4px solid #d04e3c;
		border-bottom: none;
	}
	.modal-search-wrap {
		margin: 0;
	}
	.modal-search {
		padding-left: 0;
		padding-right: 0;
	}
	.modal-hamb__tabs {
		font-size: 16px;
	}
	.modal-hamb__text {
		font-size: 16px;
	}
	#modal-about .modal-content {
		border-top: 4px solid #92a84e;
		border-bottom: none;
	}
	#modal-hamburger .modal-content {
		border-top: 4px solid #be5600;
		border-bottom: none;
	}
	.sticky-bot-menu_info.active:after {
		background: url("../img/icon-info-border-mobile.png") no-repeat;
		width: 52px;
		height: 53px;
		top: -1px;
		left: 0px;
	}
	.sticky-bot-menu_search.active:after {
		background: url("../img/icon-search-border-mobile.png") no-repeat;
		width: 50px;
		height: 52px;
		top: 0px;
		left: -3px;
	}
	.accordion__head {
		font-size: 18px;
	}
	#modal-about {
		top: 39px;
		bottom: auto;
	}
	.modal-about-wrap {
		margin: 0;
	}
	#modal-hamburger {
		top: 40px;
		bottom: auto;
	}
	.modal-hamb-wrap {
		margin: 0;
	}
	#modal-cart .cart-step3 .modal-body {
		padding-top: 40px;
	}
	.cart-step3 {
		width: 100%;
	}
	.cart-step3 .modal-body {
		background: url("../img/bg-modal-cart-320.png") no-repeat;
		background-position: 0px -20px;
		background-size: cover;
		padding-top: 0px;
	}
	.cart-step3__text {
		font-size: 14px;
	}
	.cart-step3__tip {
		font-size: 14px;
		letter-spacing: 0.1px;
		margin-bottom: 18px;
		line-height: 14px;
	}
	.cart-step3__head {
		font-size: 28px;
		letter-spacing: 4.5px;
		margin-bottom: 23px;
	}
	.cart-step3__pic {
		width: 90px;
	}
	.cart-step3 {
		margin: 0;
	}
	.shipping-form__message {
		margin-bottom: 7px;
	}
	.shipping-form__btn {
		order: 1;
	}
	.cart-step2__heading {
		font-size: 26px;
		letter-spacing: 1.1px;
	}
	.cart-step2__sum {
		font-size: 14px;
	}
	.shipping-form__total-wrap {
		flex-direction: column;
	}
	.shipping-form__payway {
		width: 100%;
	}
	.shipping-form__totalpay {
		width: 100%;
	}
	.shipping-form__inp--code {
		max-width: 100%;
		width: 100%;
		margin-bottom: 12px;
	}
	.shipping-form__btn {
		display: block;
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3px;
	}
	.shipping-form__inpwrap {
		display: flex;
		flex-direction: column;
	}
	.shipping-form__wrap {
		flex-direction: column;
	}
	.shipping-form__inpwrap--small {
		width: 100%;
	}
	.cart-step2 {
		margin: 0;
	}
	.product-block--fixedw .product-block__number {
		font-size: 10px;
		height: 21px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.product-block--fixedw .product-block__price {
		font-size: 10px;
		height: 21px;
		line-height: 17px;
	}
	.product-block--fixedw .product-block__price p {
		height: 21px;
		line-height: 21px;
	}
	.product-block--fixedw .product-block__descr-title {
		font-size: 10px;
	}
	.product-block--fixedw .product-block__country {
		font-size: 8px;
	}
	.cart-step1__products {
		padding-left: 4px;
	}
	.product-block--fixedw:not(:nth-of-type(3n)) {
		margin-right: 0;
	}
	.product-block--fixedw {
		width: 150px;
		padding-bottom: 10px;
	}
	.product-block--fixedw:not(:nth-of-type(2n)) {
		margin-right: 7px;
	}
	.product-block__img {
		width: 150px;
		height: 145px;
	}
	.cart-step1__tip {
		font-size: 14px;
	}
	.cart-step1__footwrap {
		padding-left: 10px;
		padding-right: 10px;
	}
	#modal-cart .modal-header {
		padding-top: 33px;
	}
	.cart-step1 {
		margin: 0;
	}
	.modal-header .close {
		font-size: 26px;
	}
	.cart-step1__heading {
		font-size: 24px;
		letter-spacing: 2.3px;
	}
	.cart-step1__clearcart {
		font-size: 12px;
		top: 6px;
	}
	.sticky-bot-menu_user.active:after {
		top: 0px;
		left: -3px;
		background: url("../img/icon-user-border-mobile.png") no-repeat;
		width: 102px;
		height: 53px;
	}
	.sticky-bot-menu_store.active:after {
		top: 0px;
		left: -8px;
		background: url("../img/icon-cart-border-mobile.png") no-repeat;
		width: 102px;
		height: 53px;
	}
	.sticky-bot-menu_list.active:after {
		top: 1px;
		left: 0px;
		background: url("../img/icon-hamburger-border-mobile.png") no-repeat;
		width: 47px;
		height: 52px;
	}
	#modal-cart {
		bottom: auto;
		top: 40px;
	}
	#modal-cart .modal-content {
		border-bottom: none;
		border-top: 4px solid #11ab79;
		max-height: 100vh;
	}
	#modal-cart .modal-body {
		height: auto;
		padding-top: 3px;
	}
	#modal-lk {
		bottom: auto;
		top: 40px;
	}
	#modal-lk .modal-content {
		border-bottom: none;
		border-top: 4px solid #ff8f25;
		max-height: 100vh;
		overflow: scroll;
	}
	#modal-lk .modal-body {
		overflow: visible;
	}


	#modal-search .modal-content {
		overflow: scroll;
	}
	#modal-search .modal-body {
		overflow: visible;
	}

	#modal-about .modal-content {
		overflow: scroll;
	}
	#modal-about .modal-body {
		overflow: visible;
	}

	#modal-hamurger .modal-content {
		overflow: scroll;
	}
	#modal-hamurger .modal-body {
		overflow: visible;
	}

	#modal-cart .modal-content {
		overflow: scroll;
	}
	#modal-cart .modal-body {
		overflow: visible;
	}

	#modal-info .modal-content {
		overflow: scroll;
	}
	#modal-info .modal-body {
		overflow: visible;
	}
	#modal-contact {
		top: 39px;
		bottom: auto;
	}

	#modal-contact .modal-content {
		overflow: scroll;
		max-height: calc(100vh - 40px);
	}

	#modal-contact .modal-body {
		overflow: visible;
	}

	#modal-contact .modal-dialog {
		margin: 0;
	}




	#modal-lk .modal-body--spec {
		max-height: 100vh;
	}
	.main-lk__img {
		width: 130px;
	}
	.main-lk {
		padding-top: 51px;
	}
	.main-lk__heading {
		font-size: 29px;
		margin-bottom: 14px;
		text-align: center;
	}
	.main-lk__havepassword {
		padding-left: 40px;
		padding-right: 40px;
	}
	.main-lk__getpass {
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-lk__email {
		width: 306px;
	}
	.main-lk__pw {
		width: 306px;
	}
	.lk-tabs__tabs {
		justify-content: flex-start;
	}
	.lk-tabs__tabs > li > a {
		font-size: 14px;
		padding-left: 8px;
		padding-right: 8px;
	}
	.modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data > a:hover:after {
		background: url("../img/decorative-hover-orange-mobile.png") no-repeat;
		top: 7px;
		left: -17px;
		width: 195px;
		height: 42px;
	}
	.modal-lk .lk-tabs__tabs .lk-tabs__tab-personal-data.active > a:after {
		background: url("../img/decorative-hover-orange-mobile.png") no-repeat;
		top: 7px;
		left: -17px;
		width: 195px;
		height: 42px;
	}
	.modal-lk .lk-tabs__tabs .lk-tabs__tab-balls > a:hover:after {
		background: url("../img/decorative-hover-green-mobile.png") no-repeat;
		top: 8px;
		left: -4px;
		width: 195px;
		height: 42px;
	}
	.modal-lk .lk-tabs__tabs .lk-tabs__tab-balls.active > a:after {
		background: url("../img/decorative-hover-green-mobile.png") no-repeat;
		top: 8px;
		left: -4px;
		width: 195px;
		height: 42px;
	}
	.modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes > a:hover:after {
		background: url("../img/decorative-hover-lgreen-mobile.png") no-repeat;
		top: 6px;
		left: -19px;
		width: 195px;
		height: 42px;
	}
	.modal-lk .lk-tabs__tabs .lk-tabs__tab-recipes.active > a:after {
		background: url("../img/decorative-hover-lgreen-mobile.png") no-repeat;
		top: 6px;
		left: -19px;
		width: 195px;
		height: 42px;
	}
	.modal-lk .lk-tabs__tabs .lk-tabs__tab-history > a:hover:after {
		background: url("../img/decorative-hover-purple-mobile.png") no-repeat;
		top: 5px;
		left: -1px;
		width: 195px;
		height: 42px;
	}
	.modal-lk .lk-tabs__tabs .lk-tabs__tab-history.active > a:after {
		background: url("../img/decorative-hover-purple-mobile.png") no-repeat;
		top: 5px;
		left: -1px;
		width: 195px;
		height: 42px;
	}
	.lk-personal-data__col-info {
		padding-right: 0;
		width: 100%;
	}
	.lk-personal-data__col-pw {
		padding-left: 0;
		width: 100%;
	}
	.lk-personal-data__wrap--small {
		width: 100%;
	}
	.lk-personal-data__f-wrap {
		flex-direction: column;
	}
	.lk-personal-data__label {
		padding-top: 15px;
	}
	.main-text__heading {
		font-size: 24px;
		letter-spacing: 2.5px;
	}
	.main-text__heading:after {
		display: none;
	}
	.main-text__descr {
		font-size: 14px;
	}
	.modal-lk-wrap .close {
		top: 0;
	}
	.lk-balls__how-btn {
		width: 100%;
		margin-bottom: 12px;
	}
	.lk-balls__bonus-btn {
		width: 100%;
		padding-left: 17px;
		padding-right: 0px;
		background: url("../img/icon-plus-white.png") no-repeat 10px 11px;
	}
	.lk-balls {
		padding-top: 139px;
	}
	.lk-balls__btns-wrap {
		bottom: 26px;
		padding-left: 0;
		padding-right: 0;
	}
	.popup-promo-code {
		z-index: 4;
		top: 0;
		margin-top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.popup-promo-code__col1 {
		width: 100%;
		text-align: center;
		margin-bottom: 23px;
	}
	.popup-promo-code__col2 {
		width: 100%;
	}
	.popup-promo-code__img {
		width: 112px;
	}
	.popup-promo-code__text {
		margin-bottom: 22px;
	}
	.popup-promo-code__copy {
		float: none;
		display: block;
		margin: 0 auto;
	}
	.recipe__image-wrap {
		display: inline-block;
		margin-right: 10px;
	}
	.recipe__socials {
		display: none;
	}
	.recipe__close {
		position: absolute;
		top: 10px;
		right: 0px;
		font-size: 0;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		height: 21px;
		width: 21px;
		padding: 0;
	}
	.recipe {
		flex-direction: column;
		overflow-x: hidden;
	}
	.recipe__wrap {
		width: 100%;
		justify-content: flex-start;
		position: relative;
	}
	.recipe__expand {
		width: 140px;
		text-align: center;
	}
	.recipe__expand:after {
		left: 10px;
		top: 2px;
	}
	.recipe__expand.collapsed:after {
		left: 6px;
		top: 4px;
	}
	.recipe__name {
		font-size: 17px;
		letter-spacing: 0.6px;
		margin-bottom: 10px;
	}
	.recipe__time {
		padding-left: 20px;
	}
	.recipe__time:after {
		left: -1px;
		width: 17px;
		height: 17px;
		background-size: 100%;
	}
	.expanded-recipe__pic {
		width: 100%;
	}
	.tell-friends__icon {
		width: 35px;
	}
	.tell-friends__soc:not(:last-of-type) {
		margin-right: 6px;
	}
	.tell-friends {
		padding-top: 0;
	}
	.booking {
		max-width: 150px;
		padding-bottom: 6px;
	}
	.booking__photos {
		max-height: 146px;
		margin-bottom: 6px;
	}
	.booking__photo {
		height: 50%;
	}
	.booking__date {
		font-size: 12px;
		padding-left: 5px;
	}
	.booking__count {
		font-size: 10px;
		line-height: 9px;
		margin-bottom: 7px;
	}
	.booking__total {
		padding-left: 6px;
		font-size: 17px;
	}
	.booking__refresh-img {
		width: 30px;
	}
	.booking__refresh-text {
		font-size: 12px;
	}
	.booking__refresh {
		margin-top: -23px;
	}
	.product-block--fixedw2:not(:nth-of-type(2n)) {
		margin-right: 0;
	}
	.product-block--fixedw2 {
		margin-right: 0;
	}
}