@media (min-width: 993px) and (max-width: 1760px) {
	.col-lg-2 {
        width: 33.33333333%;
    }
    // .block.block__fructs-list.block__fruit .product-block {
    //     height: 577px;
    // }
}

@media (min-width: 769px) and (max-width: 1170px) {
	.header__top-icons p {
        width: 100%;
    }
    .header__top-descr {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 1760px){
 .product-block{
    margin-bottom:20px;
}
}

@media (max-width: 500px) {

    .midpart_expand{
     margin-top: -110px !important;
 }

 .descr_expand{
     height:180px !important;
 }


}


@media (min-width: 768px) and (max-width: 990px) {

    .chef_expand {
        top: -0px !important;
    }

    
    .product-block {
        margin-bottom: 20px;
        padding: 0 15px;
    }

    .product-block--fixedw2 {

     padding-left: 0;
     padding-right: 0;
     padding-bottom: 17px;
 }
 .product-block__number {
    width: 75px;
    height: 40px;
    border-radius: 0px;
    box-shadow: none;
    background: url('../img/icon-caret.png') no-repeat;
    background-position: 60px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;

}

.header__top-logo img{
    width: 185px;
}

.header__top-logo{
    padding-top: 103px;
}

.header__top-icons-block {
    height: 221px;
}

.header__top-faq {
    letter-spacing: 0.65px;
    padding-top: 0px;
}

.header__top-icons p {
    padding-top: 33px;
    line-height: 1.25;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.5px;
}


.header__top {
    background: url('../img/bg-768.png') no-repeat;
    background-size: 100%;
    text-align: center;
    padding-bottom: 39px;
}
.header__top-descr {
 font-size: 30px;
 letter-spacing: 0px;
 width: 70%;
 margin: 0 auto;
 padding-top: 27px;
 line-height: 1.25;
}

.header__top-icons {
    padding-top: 36px;
    padding-left: 100px;
    padding-right: 100px;
}

.header__bot-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    left: 0;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 2px;
    align-items: center;
    padding-left: 0px;
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 4px;
}

.header__bot-list li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 36px 15px;
    text-decoration: none;
}

.block h2 {
    font-size: 48px;
    margin-top: 37px;
}

.our-choice h2 {
    color: white;
    font-size: 48px;
    letter-spacing: 0;
    margin-top: 13px;
    margin-bottom: 11px;

}

.our-choice__descr {
    color: white;
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 1px;
    padding-bottom: 24px;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;
}

.our-choice .slick-dots {

    bottom: -25px;

}

.our-choice {

    padding-bottom: 48px;
}

.block__set h2 {
    font-size: 38px;
    letter-spacing: -0.85px;
    margin-top: 17px;
    margin-bottom: 22px;
}

.block__set .block__set-title-desc {
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0px;
    margin-bottom: 30px;
    line-height: 1.15;
}

.block__fruit-title-desc {
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0px;
    padding-bottom: 30px;
    line-height: 1.2;
}

.block__fruit .product-block__descr a {
    color: #b00d0d;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    padding-top: 6px;
    padding-right: 7px;
}

.block__fructs-list h2 {
    font-size: 48px;
    letter-spacing: 0;
    margin-top: 5px;
}

.block__fructs-list.block__fruit .block__midpart {
    margin-top: -11px;

}

.block__callback h2 {
    margin-top: 5px;
    margin-bottom: 30px;
}

.block__fructs-list .product-block{
    padding-left: 30px;
    padding-right: 30px;
}

.block__set .block__fruit-title-desc {
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: -0.1px;
    padding-bottom: 30px;
    margin-top: -5px;
    line-height: 1.15;
    padding-left: 0px;
}

.block__fructs-list .block__callback > h2 {
    margin-top: 8px;
    margin-bottom: 10px;
}




.block__callback-content.variable-width .slick-dots li button::before {
    opacity: 1;
    color: white;
    font-size: 10px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.block__callback-content .slick-dots {
    z-index: 20;
    bottom: -37px;
}

.block__callback {
    padding-top: 22px;
    padding-bottom: 0px;
}

.block__blog-padding h2{
    margin-top: 6px;
}

.block__blog-padding .block__blog-expand {
    padding: 26px;
    padding-bottom: 2px;
    padding-top: 0;
}

.block__blog-padding .block__blog-tab li {
    min-width: 203px;
    text-decoration: none;
    color: black;
    padding: 2px 20px;
    margin: 0 19px;
    display: inline-block;
    cursor: pointer;
}


.block__fructs-list .product-block__descr a {
    color: #b00d0d;
    font-size: 14px;
    line-height: 21px;
    padding-right: 2px;
    padding-top: 0px;
}

.block__fruit .product-block__descr-town.chef__receipt {
    left: 4px;
}

.block__fructs-expand {
    background: white;
    margin-top: 10px;
}

.block__set .slick-dots {
    bottom: -31px;
}

.block__set .block__blog-tab {
    background: #fdfdfc;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 24px;
    color: black;
    text-align: center;
    padding-top: 17px;
    margin: 0;
    padding-bottom: 28px;
}

.block__set .block__blog-tab li {
    text-decoration: none;
    color: black;
    margin: 0 0px;
    padding: 10px 16px 2px;
    display: inline-block;
    cursor: pointer;
}

.block__set .product-block__slider-img {
    max-height: 285px;
    overflow: hidden;
}

.block__fruit__slider-item{
    padding: 0 32px;
}

.chef__receipt {
    float: left;
    font-size: 15px !important;
    left: -7px;
    margin-bottom: 5px;
    padding-top: 0 !important;
    position: relative;
    text-align: left;
    top: 0px;
}

.product-block__descr-town {

    margin-bottom: 9px;
}

.block__fruit {
    background: #fdfdfc;
    padding-bottom: 47px;
}

.block__blog-tab li {
    text-decoration: none;
    color: black;
    padding: 10px 40px;
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
}

.footer__copyright {

    line-height: 1.2;
    padding-top: 5px;
    padding-left: 11px;
}

.footer__useragreement {

    color: #6b9b2f;
    font-size: 14px;
    text-align: right;
    line-height: 1.2;
    padding-right: 0px;
    letter-spacing: 0.1px;
    padding-top: 4px;
    position: relative;
    right: 13px;
}

.footer__icons {
    text-align: left;
    padding-right: 0;
    padding-left: 17px;
    padding-top: 2px;
    position: relative;
    left: 18px;
}

.footer__icons img {
    margin-left: 0px;
    margin-right: 5px;
    padding-right: 0;
}

.footer__phone {
    color: #7b7b7b;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    padding-left: 41px;
    padding-top: 1px;
}

.block__blog-tab {
    background: #fdfdfc;
    padding: 20px;
    font-size: 24px;
    color: black;
    text-align: center;
    padding-top: 0;
    margin: 0;
}

.block__blog-padding {
    padding-bottom: 19px;
}

.footer{
	padding-bottom: 110px;
}

.slider > button {
    top: 51%;
}

.slider > button.slick-prev {
    left: 9px;
}

.slider > button.slick-next {
    right: 10px;
}

.block__fruit .block__botpart .block__store .product-block__price {
    width: 171px;
}

.block__fruit .block__midpart {
    margin-top: -5px;
}

.block__set {
    padding-bottom: 48px;
}

.multiple2-items > ul.slick-dots {
    bottom: -49px;
}

.block__fructs-list{
  padding-bottom:0;  
}

}


@media  (max-width: 767px) {
    .sticky-bot-menu div {
        border: 4px solid transparent;
    }
    .sticky-bot-menu_store-in {
        left: 17px;
    }
    .sticky-bot-menu_store-out {
        left: 37px;
    }
    .footer{
     padding-bottom: 20px;
     padding-top: 4px;
 }	

 .footer__icons img {
    margin-left: 0px;
    margin-right: 0px;
    width: 28px;
}

.footer__icons{
    padding-top: 10px;
    padding-left: 0px;
}

.footer__phone{
	padding-left: 12px;
	padding-right: 0;
	padding-top: 12px;
}

.modal-contact {
	position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-top: 4px solid #89597b;
    max-width: 768px;
    min-width: 320px;
    top: 40px;
    margin: 0;
    border-bottom: none;
}	

.header__top {
    background: url('../img/bg-320.png') no-repeat;
    background-size: 100% ;
    text-align: center;
    padding-bottom: 13px;
}

.sticky-bot-menu {
    background: red;
    height: 50px;
    width: 400px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header__top-logo img{
    width: 85px;
}

.header__top-logo {
    padding-top: 49px;
}

.header__top-descr {
    font-size: 18px;
    padding-top: 15px;
    letter-spacing: 0.2px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.2;
}

.header__top-icons-block {
    height: 200px;
}



.header__top-icons p {
    padding-top: 20px;
    line-height: 1.3;
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header__top-faq a {
    text-transform: uppercase;
    color: #97a655;
    text-decoration: none;
    border-bottom: 1px dashed #97a655;
    font-size: 12px;
    padding-bottom: 3px;
}

.header__top-faq img {
    margin-right: 5px;
    width: 18px;
}

.block h2 {
    font-size: 30px;
    margin-top: 17px;
    margin-bottom: 19px;
}

.our-choice__descr {
    color: white;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 1px;
    padding-bottom: 30px;
    line-height: 1.2;
}

.product-block__number {
    width: 65px;
    height: 40px;
    border-radius: 0px;
    box-shadow: none;
    background: url('../img/icon-caret.png') no-repeat;
    background-position: 49px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
}

.block__fruit-title-desc {
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0px;
    padding-bottom: 30px;
    line-height: 1.2;
}

.block__blog-tab li {
    text-decoration: none;
    color: black;
    padding: 10px 25px;
    margin: 0 15px;
    display: inline-block;
    cursor: pointer;
}

.sticky-bot-menu_list {
    background: #a75714;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    line-height: 47px;
    font-size: 20px;
}

.sticky-bot-menu_user {
    background: #e68e33;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40px;
    line-height: 44px;
    font-size: 20px;
}

.sticky-bot-menu_store {
    background: #607f47;
    display: inline-block;
    width: 85px;
    height: 40px;
    position: absolute;
    left: 80px;
    font-size: 12px;
    line-height: 45px;
    padding-left: 9px;
}

.sticky-bot-menu_store span {
    font-size: 21px;
}

.sticky-bot-menu_info {
    background: #97a655;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 165px;
    line-height: 46px;
    font-size: 21px;
}

.sticky-bot-menu_message {
    background: #dd7f70;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 205px;
    line-height: 49px;
    font-size: 21px;
}

.sticky-bot-menu_search {
    background: #b54f3f;
    display: inline-block;
    width: 37px;
    height: 40px;
    position: absolute;
    left: 243px;
    line-height: 48px;
    font-size: 19px;
}

.sticky-bot-menu_contact {
    background: #7d5979;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 280px;
    line-height: 50px;
    font-size: 26px;
}

.sticky-bot-menu {
    background: red;
    height: 40px;
    width: 320px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.block__blog-tab {
    background: #fdfdfc;
    padding: 20px 0;
    font-size: 24px;
    color: black;
    text-align: center;
    padding-top: 0;
    margin: 0;
}

.block__callback-content-item {
    max-height: 250px;
}

.footer__copyright {
    color: #7b7b7b;
    font-size: 12px;
    line-height: 1.2;
    padding-bottom: 0px;
    padding-top: 12px;
    padding-left: 14px;
    text-align: left;
}

.footer__phone a {
    color: #7b7b7b;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    float: left;
}

.footer__useragreement {
    color: #6b9b2f;
    font-size: 14px;
    text-align: left;
    line-height: 1.2;
    padding-left: 12px;
    padding-bottom: 20px;
}

.block__blog-padding {
    padding-bottom: 5px;
    overflow: hidden;
    padding-top: 11px;
}





.row-padding .col-xs-6,.row-padding .col-xs-2,.row-padding .col-xs-10{
	padding-left: 5px;
	padding-right: 5px;
}

.row-padding .product-block__descr-title {
    font-size: 14px;
    color: black;
    text-align: left;
    height: 45px;
    padding-top: 15px;
    line-height: 1;
}

.row-padding .product-block__descr-town {
    font-size: 14px;
    color: #555555;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.row-padding .block__store{
	padding: 2px;
}

.row-padding .product-block__number {
    width: 55px;
    height: 35px;
    border-radius: 0px;
    box-shadow: none;
    background: url('../img/icon-caret.png') no-repeat;
    background-position: 40px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
    position: relative;
    left: 15px;
    top: -1px;
    text-align: left;
    padding-left: 3px;
}

.row-padding .product-block__price {
	width: 75px;
	height: 35px;
	border-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: url('../img/icon-basket.png') no-repeat;
	background-position: 8px 10px;
	border: 1px solid #cccccc;
	display: inline-block;
	margin-left: 10px;
}

.row-padding .product-block__price p {
    line-height: 35px;
    cursor: pointer;
    padding-left: 20px;
}

.row-padding .product-block__descr__full {
    display: none;
    padding-right: 15px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
    transition: all 0.5s easy;
    max-height: 158px;
    overflow-y: auto;
}

.row-padding .block__botpart {
    height: 85px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    z-index: 5;
    left: 0;
    right: 0;
    width: 150px;
}

/*BlOG SLIDER*/

.block_blog-small-underline-receipt {
    color: #b00d0d;
    font-size: 14px;
    display: inline-block;
    width: 40%;
    text-align: left;
    padding-left: 15px;
    line-height: 37px;
}

.block_blog-small-underline-add {
    font-size: 14px;
    display: inline-block;
    width: 60%;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
}



.block_blog-big {
    height: 320px;
    margin: 0px;
    background: white;
    width: 320px;
    position: relative;
    overflow: hidden;
}

.block_blog-long {
    width: 320px;
    height:160px;
    display: flex;
}

.block_blog-big-view {
    position: absolute;
    bottom: 0;
    padding-bottom: 16px;
    background: white;
    transition: all 0.5s;
    width: 100%;
}

.block__blog-item {
    max-height: 320px;
}

.block_blog-long .block_blog-small-underline-add {
    font-size: 14px;
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
}

.block_blog-long .block_blog-small-underline-receipt {
    color: #b00d0d;
    font-size: 14px;
    display: inline-block;
    width: 50%;
    text-align: left;
    padding-left: 15px;
    line-height: 37px;
}

.block_blog-long-desc {
    text-align: justify;
    font-size: 16px;
    letter-spacing: 1;
    padding: 0 20px;
    padding-bottom: 20px;
    overflow: hidden;
    color: #888888;
    max-height: 126px;
    overflow-y: auto;
}

.block_blog-long-title {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    text-align: left;
    line-height: 1;
}











.block__fruit__slider-item .col-xs-6,.block__fruit__slider-item .col-xs-2,.block__fruit__slider-item .col-xs-10{
	padding-left: 5px;
	padding-right: 5px;
}

.block__fruit__slider-item .product-block__descr-title {
    font-size: 10px;
    text-align: left;
    height: 23px;
    padding-top: 5px;
    line-height: 1;
    min-height:10px;
}

.block__fruit__slider-item .product-block__descr-town {
    font-size: 14px;
    color: #555555;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}

.block__fruit__slider-item .block__store{
	padding: 2px;
}

.block__fruit__slider-item .product-block__number {
    width: 55px;
    height: 35px;
    border-radius: 0px;
    box-shadow: none;
    background: url('../img/icon-caret.png') no-repeat;
    background-position: 40px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
    text-align: left;
    padding-left: 3px;
}

.block__fruit .block__botpart .product-block__descr-town {
    font-size: 8px;
    padding-top: 2px;
    min-height: 19px;
    line-height: 19px;
}

.multiple2-items > ul.slick-dots {
    bottom: -30px;
}

.multiple2-items .slick-dots li button::before {
    font-size: 7px;
}

.product-block__descr a {
    color: #b00d0d;
    text-decoration: none;
    font-size: 13px;
    line-height: 21px;
    display: inline-block;
    padding-top: 5px;
}

.block__fruit .block__botpart .block__store {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.block__fruit__slider-item .product-block__price {
	width: 75px;
	height: 35px;
	border-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: url('../img/icon-basket.png') no-repeat;
	background-position: 8px 10px;
	border: 1px solid #cccccc;
	display: inline-block;
	margin-left: 10px;
}

.block__fructs-expand-btn:hover {
    border: 1px solid #b00d0d;
    line-height: 22px;
}

.block_blog-long-view {
    position: absolute;
    bottom: 0;
    padding-bottom: 34px;
    background: white;
    transition: all 0.5s;
    width: 100%;
}



.chef__receipt {
    text-align: left;
    float: left;
    margin-bottom: 10px;
    min-width: 180px;
    margin-left: 0px;
}

.chef__receipt img{
    width: 14px;
    margin-bottom: 4px;
    margin-right: 4px;
}

btn:hover {
    border: 1px solid #b00d0d;
    line-height: 22px;
}

.block__fruit__slider-item .col-xs-12{
	padding: 0 5px;
}

.block__fruit .block__botpart .product-block__instore a {
    font-size: 10px;
    padding:0;
}

.block__fruit .block__botpart .product-block__instore {
    height: 20px;
    border: 1px solid #b00d0d;
    margin: 0 auto;
    border-radius: 40px;
    max-width: 260px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background: white;
}

.block__fruit .product-block__descr-town.chef__receipt img {
    vertical-align: bottom;
    display: inline-block;
    margin-right: 3px;
    width: 9px;
}



.product-block__descr-town img {
    display: inline-block !important;
    margin-right: 3px;
}

.block__set h2{
    font-size: 24px;
    margin-top: 13px;
    line-height: 1;
    margin-bottom: 13px;
}

.block__blog-tab {
    background: #fdfdfc;
    padding: 20px 0;
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 0;
    margin: 0;
}

.block_blog-big-title {
    font-size: 18px;
    font-weight: 600;
    padding: 13px 15px;
    text-align: left;
    line-height: 1;
    width: 100%;
}

.block__blog-padding .block__blog-tab li {
    text-decoration: none;
    color: black;
    padding: 2px 10px;
    margin: 0 7px;
    display: inline-block;
    cursor: pointer;
    min-width: 0;
}

.block__blog-padding .block__blog-tab {
    padding: 0px;
    font-size: 20px;

    padding-bottom: 34px;
}

.header__top-logo {
    padding-top: 48px;
}

.header__top-icons-block-bag img{
    width:47px;
}

.header__top-icons-block-wallet img{
    width: 39px;
}

.header__top-icons-block-vesi img{
    width: 57px;
}

.header__top-icons-block-car img{
    width: 70px;
}

.header__top-icons {
    padding-top: 12px;
}

.header__top-icons p {
    padding-top: 6px;
    line-height: 1.21;
    font-size: 12px;
    min-width: 130px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header__top-icons-block {
    height: 128px;
}

.our-choice {
    padding-top: 26px;
}

.our-choice h2 {
    margin-top: 4px;
}

.our-choice__descr {
    color: white;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 1px;
    padding-bottom: 25px;
    line-height: 1.2;
    padding-left: 0;
}

.slider > button {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 45%;
    background-image: url(../img/slider-arrow.png);
    z-index: 100;
    opacity: 1;
}

.slider > button.slick-prev {
    left: -10px;
}

.multiple-items .product-block__descr .block__midpart .pull-right {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.product-block__descr-title {
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-align: left;
    height: 45px;
    padding-top: 6px;
    line-height: 1;
}

.our-choice .slick-dots {
   bottom: -29px;
}

.our-choice {
    padding-bottom: 43px;
    overflow: hidden;
}

.block__set .block__fruit-title-desc {
    font-size: 13px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0px;
    padding-bottom: 30px;
    margin-top: -7px;
    line-height: 1.3;
    padding-left: 0px;
}

.block__set .block__fruit-title-desc {
    font-size: 13px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0.45px;
    padding-bottom: 30px;
    margin-top: -7px;
    line-height: 1.3;
    padding-left: 0px;
}

.block__set .block__blog-tab {
    background: #fdfdfc;
    padding: 20px 0px;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 2px;
    margin: 0;
    letter-spacing: 70px;
}

.block__set .block__blog-tab li {
    margin: 0 0px;
    padding: 9px 10px 2px;
    letter-spacing: -1px;
}

.block__set .block__set-title-desc {
    margin-bottom: 32px;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
}

.slider > button {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 43%;
    background-image: url(../img/slider-arrow.png);
    z-index: 100;
    opacity: 1;
    background-size: 100% 100%;
}


.block__callback-content.variable-width .slick-dots li button::before {
    opacity: 1;
    color: white;
    font-size: 6px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.block__set {
    overflow: hidden;
    padding-bottom: 33px;
}

.block__fructs-list {
    padding-top: 0px;
}

.block__fructs-list h2 {
    letter-spacing: 0.4px;
    margin-top: 13px;
}

.block__fructs-list .col-xs-6, .block__fructs-list .col-xs-2, .block__fructs-list .col-xs-10 {
    padding-left: 5px;
    padding-right: 5px;
}

.block__fruit .product-block__descr-title {
    font-size: 10px;
    color: black;
    text-align: left;
    height: 23px;
    padding-top: 5px;
    line-height: 1;
    min-height: 20px;
}

.block__fruit .block__botpart .product-block__instore a img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    width: 14px;
    padding-top: 5px;
}

.block__fructs-list .block__botpart .col-xs-12{
    padding:0 5px;
}

.block__fruit .product-block__descr__full {

    line-height: 12px;
    font-size: 10px;
    padding-left: 5px;
}

.block__fruit .block__midpart {
    padding-top: 0px;
}


.block__fructs-expand-btn {
    border: 1px solid #dfdfdf;
    border-radius: 40px;
    color: #6e6e6e;
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    left: 0px;
    letter-spacing: 0.65px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 193px;
    position: relative;
    text-align: center;

}

.block__fructs-expand {
    background: white;
    border-bottom:none;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-top: 0px;
}

.block__callback {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.block__callback h2 {
    margin-top: 7px;
    margin-bottom: 9px;
    letter-spacing: 0.4px;
}

.block__callback .slick-dots {
    position: absolute;
    bottom: -33px;
}

.block__fruit .block__botpart .block__store .product-block__number {
    background-image: url("../img/icon-caret.png");
    background-position: 31px 7px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 40px;
    border-color: #ddd;
    border-style: solid;
    border-top-left-radius: 40px;
    border-width: 1px;
    height: 21px;
    padding-left: 3px;
    width: 44px;
    font-size: 10px;
    background-size: 7px;
}

.block__fruit .block__botpart .block__store .product-block__price {
    border-bottom-right-radius: 40px;
    border-color: #ddd;
    border-style: solid solid solid none;
    border-top-right-radius: 40px;
    border-width: 1px 1px 1px medium;
    height: 21px;
    line-height: 20px;
    width: 90px;
    background: white;
    font-size: 10px;
    min-width: 50px;
    padding-left: 6px;
    margin-left: 0;
}

.block__fruit .block__botpart {
    padding-bottom: 9px;
}

.block_blog-small-desc {
    text-align: justify;
    font-size: 10px;
    letter-spacing: 1;
    padding: 0 20px;
    padding-bottom: 20px;
    overflow: hidden;
    display: none;
    max-height: 146px;
    overflow-y: auto;
    color: #888888;
}

/*BLOG*/


.block_blog-small-underline-add {
    font-size: 8px;
    display: inline-block;
    width: 60%;
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
}

.block_blog-small-underline-receipt {
    color: #b00d0d;
    font-size: 8px;
    display: inline-block;
    width: 40%;
    text-align: left;
    padding-left: 5px;
    line-height: 20px;
}

.block_blog-small-desc {
    text-align: justify;
    font-size: 10px;
    letter-spacing: 1;
    padding: 0 20px;
    padding-bottom: 20px;
    overflow: hidden;
    display: none;
    max-height: 80px;
    overflow-y: auto;
    color: #888888;
}

.block_blog-small-date {
    color: #888888;
    text-align: left;
    padding: 0px 15px;
    padding-bottom: 5px;
    font-size: 8px;
    font-style: italic;
}

.block_blog-small-title {
    font-size: 10px;
    font-weight: 600;
    padding: 13px 15px;
    text-align: left;
    line-height: 1;
}

.block_blog-longsm-desc {
    font-size: 10px;
    max-height: 74px;
}

.block_blog-small-view {
    position: absolute;
    bottom: 0;
    padding-bottom: 18px;
    background: white;
    transition: all 0.5s;
}

.block_blog-long .block_blog-small-underline-receipt {
    color: #b00d0d;
    font-size: 8px;
    display: inline-block;
    width: 50%;
    text-align: left;
    padding-left: 5px;
    line-height: 20px;
}

.block_blog-long .block_blog-small-underline-add {
    font-size: 8px;
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
}

.block_blog-big-title {
    font-size: 10px;
    font-weight: 600;
    padding: 13px 15px;
    text-align: left;
    line-height: 1;
    width: 50%;
}

.block_blog-big-desc {
    text-align: justify;
    font-size: 10px;
}

.block_blog-small {
    height: 160px;
    margin: 1px;
    width: 160px;
    position: relative;
    overflow: hidden;
}

.block_blog-long-desc {
    text-align: justify;
    font-size: 10px;
    letter-spacing: 1;
    padding: 0 20px;
    padding-bottom: 20px;
    overflow: hidden;
    color: #888888;
    max-height: 126px;
    overflow-y: auto;
}

.block_blog-long-title {
    font-size: 10px;
    font-weight: 600;
    padding: 15px 25px;
    text-align: left;
    line-height: 1;
}

.block_blog-long-date {
    color: #888888;
    text-align: left;
    padding: 0px 25px;
    padding-bottom: 14px;
    font-size: 8px;
    padding-left: 27px;
    font-style: italic;
}

.sticky-bot-menu_user img {
    width: 15px;
}


.sticky-bot-menu_store img {
    width:20px;
}

.sticky-bot-menu_info img {
    width:19px;
}

.sticky-bot-menu_message img {
    width:20px;
}

.sticky-bot-menu_search img {
    width:16px;
}

.sticky-bot-menu_contact img {
    width:23px;
}

.sticky-bot-menu_list img {
    width:24px;
}

.block__fruit .block__store .product-block__price p span.price-icon {
    background-image: url(../img/icon-basket.png);
    height: 15px;
    margin-right: -5px;
    width: 17px;
    background-size: 10px;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.slick-slide .block_blog-small-underline-receipt img, .slick-slide .block_blog-small-underline-add img {
    margin-right: 5px;
    width: 11px;
}

.banner .block_blog-small-title {
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
    line-height: 1.2;
    padding-left: 21px;
    letter-spacing: 0px;
    padding-right: 21px;
    font-family: MyriadPro;
    padding-bottom: 10px;
}

.block_blog-smalladv-desc {
    font-size: 10px;
}

.footer__icons-box {
    width: 28px;
    height: 28px;
    font-size: 17px;
    padding-left: 3px;
    padding-top: 4px;
}

.modal-contact__soc{
	text-align: center;
}

}